<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/NRPT/Report2-3/structure6.css"/>
	<style>

		html {

			height: 100%

		}



		.body-width {

			height: 100%;

			/* background-color: black; */

			position: relative;

			width: 177.6vmin;

            min-height: 100vmin;

            margin: 0 auto;

		}

		.body-height {

            width: 100vw;

            height: 56.25vw;

            margin: 0 auto; 

            position: relative;

            top: 50%; 

            transform: translateY(-50%);

		}

	</style>
	</head>
	
	<body>
	

	<div class="body-wrapper body-width" >
		<div id="top">
			<div id="titTop"><span id="titleSpan"></span></div>
			<img class="logo-img" src="image/logoimg/logo.png" alt="">
			<div class="unit">单位：亿元</div>
			<div class="from">数据口径来自：管会，CRM</div>
		</div>
		<div id="content">
			<div id="left">
				<div id="left_1">
					<p class="left1_Label" ></p>
					<div id="listStore">
						
					</div>

				</div>
				
				<div id="left_2"> 
					<p class="left2_Label">
						</p>
					<div id="listLoan">
							
					</div>

				</div>
			</div>
			<div id="middle">
				<div id="middle_top">
					<div id="conLeft">
						  
						 <!-- <img src="image/2对公/指标树/一般对公存款.png" class="treeImage"> -->
						 <img src="image/forPublick/trendTree/GM0101.png" class="treeImage">

					</div>
					<div id="conRight">
						<div id="tipBox">
							<div id="tipTop">
								<div id="tipBoxName"></div>
							</div>
							<div id="tipBottom">
								<div id="row1"><span id="day">今日</span><span class="num1"></span></div>
								<div id="row2"><span id="month">比上日</span><span class="num1"></span></div>
								<div id="row3"><span id="year">比上月</span><span class="num1"></span></div>
							</div>
						</div>
					</div>
				</div>
				<div id="middle_bottom">
					<div class="mid_bottom_label">
						<span>公司贷款利息收入（单位：百万）</span>
					</div>
                     

					<div id='linechart'>

					</div>
				</div>
			</div>	
			<div id="right">
				<div id="right_top">
					<!-- <div class="right_shang">贷款、存款分析</div> -->
					<div class="right_shang" >
							<span>贷款、存款分析</span> 
					</div>
					<div id="right_1">
						<div class="right1_cunkuan">存款</div>
                        <div id="store" >

                           
						</div>
						
						<!-- <img class='store_img' src="./image/2对公/icon 存款.png" alt=""> -->
						<img class='store_img' src="./image/forPublick/iconStore.png" alt="">
						
					</div>
					<div id="right_2">
						<div class="right2_cunkuan">贷款</div>
						<div id="loan" >
						</div>
						<!-- <img class='loan_img' src="./image/2对公/icon 贷款.png" src="" alt=""> -->
						<img class='store_img1' src="./image/forPublick/iconLoan.png" alt="">
					</div>
				</div>
				<div id="right_bottom">
					<div class="right_bottom_label">公司客户数（单位：万）</div>
					<div id="columnar">

					</div>	
				</div>
			</div>
		</div>
		<div id="bottom"></div>
		</div>
	</body>
	<!-- <script src="./libs/lowEcharts.js"></script> -->

	<script src="js/libs/echartsLow.js"></script>

	<!-- <script src="./libs/echarts.min.js"></script> -->
	
	<script src="js/publickMethods/publickMethods.js"></script>
	<script src="js/NRPT/Report2/twoComponents/columnarCharts.js"></script>
	<script src="js/NRPT/Report2/twoComponents/linechart.js"></script>
	<script src="js/NRPT/Report2/twoComponents/listStore.js"></script>
	<script src="js/NRPT/Report2/twoComponents/listLoan.js"></script>
	<script src="js/NRPT/Report2/twoComponents/piceChartTwo.js"></script>
	<script src="js/NRPT/Report2/twoComponents/picechart.js"></script>
	<script src="js/NRPT/Report2/twoComponents/resolveData.js"></script>
	<script src="js/NRPT/Report2/twoComponents/resolveEchart_1.js"></script>
    <script src="js/publickMethods/customed1.js"></script>
	<script src="js/publickMethods/wesocket.js"></script>
	
	<script>

	!function () {

			let oBody = document.getElementsByClassName("body-wrapper")[0]

		let _height = document.body.clientHeight

		let _width = document.body.clientWidth;

		if (_width/_height < (16/9)) {

			oBody.classList.remove('body-width')

			oBody.classList.add('body-height')

		} else {

			oBody.classList.remove('body-height')

			oBody.classList.add('body-width')

		}





	}()

</script>
</html>
