<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.spdb.nrpt.mapper.retailIndexMapper.RetailIndexDataMapper">


    <!--==========================================存款===============================-->
    <!--当日存款增量排名前五-->

    <!--到时分秒-->
    <select id="getdepIncTopFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">

        SELECT * from (
        SELECT v2.sum2-v1.sum1  as dataValue,v1.bankCode1 as bankCode from
        (select sum(a.dep_bal) as sum1,a.LVL1_BR as bankCode1 from DLA_RPT_R_DEP_LOAN_SCL a where to_char(a.data_dt,'yyyy-mm-dd')=to_char(sysdate-1,'yyyy-mm-dd') GROUP BY a.LVL1_BR) v1,
        (select b.dep_bal as sum2,b.org as bankCode2 from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where to_date(b.dt,'yyyy-MM-dd hh24:mi:ss')=
        (select max(to_date(dt,'yyyy-MM-dd hh24:mi:ss')) from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL a where a.org = b.org) ) v2
        where v1.bankCode1 = v2.bankCode2  ORDER BY dataValue desc
        ) where rownum &lt;=5
    </select>


    <!--当日存款增量排名后五-->
    <select id="getdepIncLastFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
        SELECT * from (
        SELECT v2.sum2-v1.sum1  as dataValue,v1.bankCode1 as bankcode from
        (select sum(a.dep_bal) as sum1,a.LVL1_BR as bankCode1 from DLA_RPT_R_DEP_LOAN_SCL a where to_char(a.data_dt,'yyyy-mm-dd')=to_char(sysdate-1,'yyyy-mm-dd') GROUP BY a.LVL1_BR) v1,
        (select b.dep_bal as sum2,b.org as bankCode2 from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where to_date(b.dt,'yyyy-MM-dd hh24:mi:ss')=
        (select max(to_date(dt,'yyyy-MM-dd hh24:mi:ss')) from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL a where a.org = b.org) ) v2
        where v1.bankCode1 = v2.bankCode2  ORDER BY dataValue asc
        ) where rownum &lt;=5
    </select>
    <!--当日存款余额前五-->
    <!--<select id="getDepBalTopFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">-->
    <!--select *from-->
    <!--(select SUM(a.dep_bal) as dataValue,a.org as bankCode,MAX(b.LVL1_NAME) as bankName-->
    <!--from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL a, LVL1_BR_NAME_CODE b-->
    <!--where b.LVL1_CODE=a.org and to_char(a.dt,'yyyy-mm-dd')=to_char(sysdate,'yyyy-mm-dd')-->
    <!--GROUP BY a.org ORDER BY dataValue desc)-->
    <!--where rownum &lt;=5-->

    <!--</select>-->

    <select id="getDepBalTopFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">

        select * from
        (select b.dep_bal as dataValue,b.org as bankCode from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where to_date(b.dt,'yyyy-MM-dd hh24:mi:ss')=
        (select max(to_date(dt,'yyyy-MM-dd hh24:mi:ss')) from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL a where a.org = b.org)
        and b.org in('3200','3300','3400','3500','3600','3700','4300','4500','4800','5800','5900','6000','6100','6300','6400','6500','6600','6800','6900','7000','7100','7200','7300','7400','7500','7600','7700','7800','7900','8200','8300','8900','9100','9300','9400','9500','9800')
         ORDER BY dataValue desc
        )where rownum &lt;=5
    </select>
    <!--当日存款余额后五-->
    <select id="getDepBalLastFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
        select * from
        (select b.dep_bal as dataValue,b.org as bankCode from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where to_date(b.dt,'yyyy-MM-dd hh24:mi:ss')=
        (select max(to_date(dt,'yyyy-MM-dd hh24:mi:ss')) from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL a where a.org = b.org)
        and b.org in('3200','3300','3400','3500','3600','3700','4300','4500','4800','5800','5900','6000','6100','6300','6400','6500','6600','6800','6900','7000','7100','7200','7300','7400','7500','7600','7700','7800','7900','8200','8300','8900','9100','9300','9400','9500','9800')
         ORDER BY dataValue asc
        )where rownum &lt;=5
    </select>

    <select id="getdepThreeMonKline" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
	select t1.data_dt as dataDate,t1.count as todaydata,t2.count as  yestdata
  from (select data_dt,sum(dep_bal) count from DLA_RPT_R_DEP_LOAN_SCL where data_dt BETWEEN ADD_MONTHS(sysdate, -1) and  sysdate GROUP BY data_dt ) t2
  inner join
  (select data_dt,sum(dep_bal) count from DLA_RPT_R_DEP_LOAN_SCL where data_dt BETWEEN ADD_MONTHS(sysdate, -1) and  sysdate GROUP BY data_dt ) t1 --jintian
  on t1.data_dt = t2.data_dt+1  order BY t1.data_dt asc


    </select>

    <!--存款近三月趋势-->
    <select id="getdepThreeMonTrend" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
     select sum(Dep_Y_Avg_Bal) as dataValue,data_dt as dataDate from DLA_RPT_R_DEP_LOAN_SCL where data_dt
     BETWEEN ADD_MONTHS(sysdate, -3) and  sysdate GROUP BY data_dt

    </select>

    <!--当日存款增量总和-->
    <select id="getdepIncSum" resultType="java.lang.Double">

    select sum(dataValue)  from (SELECT v2.sum2-v1.sum1  as dataValue,v1.bankCode1 from
        (select sum(a.dep_bal) as sum1,a.LVL1_BR as bankCode1 from DLA_RPT_R_DEP_LOAN_SCL a where to_char(a.data_dt,'yyyy-mm-dd')=to_char(sysdate-1,'yyyy-mm-dd') GROUP BY a.LVL1_BR) v1,
        (select b.dep_bal as sum2,b.org as bankCode2 from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where to_date(b.dt,'yyyy-MM-dd hh24:mi:ss')=
        (select max(to_date(dt,'yyyy-MM-dd hh24:mi:ss')) from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL a where a.org = b.org) ) v2
        where v1.bankCode1 = v2.bankCode2)

</select>

    <!--当日存款余额总和-->

    <select id="getdepBalSum" resultType="java.lang.Double">

        select sum(sum2)  from
        (select b.dep_bal as sum2,b.org as bankCode2 from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where to_date(b.dt,'yyyy-MM-dd hh24:mi:ss')=
        (select max(to_date(dt,'yyyy-MM-dd hh24:mi:ss')) from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL a where a.org = b.org)
         and b.org in('3200','3300','3400','3500','3600','3700','4300','4500','4800','5800','5900','6000','6100','6300','6400','6500','6600','6800','6900','7000','7100','7200','7300','7400','7500','7600','7700','7800','7900','8200','8300','8900','9100','9300','9400','9500','9800')
        )

    </select>
    <!--存款比月初&比年初-->

    <select id="getdepThan" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
         select sum(Dep_Bal_Cbm) as thanMonthBegin,sum(Dep_Bal_Cby) as thanYearBegin
      from DLA_RPT_R_DEP_LOAN_SCL where to_char(data_dt,'yyyy-mm-dd')=to_char(sysdate-1,'yyyy-mm-dd')
    </select>


    <!--===================贷款===========================================================================-->
    <!--贷款增量前五-->
    <!--<select id="getLoanIncTopFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">-->
    <!--SELECT * from (-->
    <!--SELECT v2.sum2-v1.sum1  as dataValue,v1.bankCode1 as bankCode from-->
    <!--(select sum(a.loan_bal) as sum1,a.LVL1_BR as bankCode1 from DLA_RPT_R_DEP_LOAN_SCL a where to_char(a.data_dt,'yyyy-mm-dd')=to_char(sysdate-1,'yyyy-mm-dd') GROUP BY a.LVL1_BR) v1,-->
    <!--(select sum(b.loan_bal) as sum2,b.org as bankCode2 from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL  b where to_char(b.dt,'yyyy-mm-dd')=to_char(sysdate,'yyyy-mm-dd') GROUP BY b.org) v2-->
    <!--where v1.bankCode1 = v2.bankCode2  ORDER BY dataValue desc-->
    <!--) where rownum &lt;=5-->
    <!--</select>-->

    <select id="getLoanIncTopFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">

        SELECT * from (
        SELECT v2.sum2-v1.sum1  as dataValue,v1.bankCode1 as bankCode from
        (select sum(a.loan_bal) as sum1,a.LVL1_BR as bankCode1 from DLA_RPT_R_DEP_LOAN_SCL a where to_char(a.data_dt,'yyyy-mm-dd')=to_char(sysdate-1,'yyyy-mm-dd') GROUP BY a.LVL1_BR) v1,
        (select b.loan_bal as sum2,b.org as bankCode2 from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where to_date(b.dt,'yyyy-MM-dd hh24:mi:ss')=
        (select max(to_date(dt,'yyyy-MM-dd hh24:mi:ss')) from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL a where a.org = b.org) ) v2
        where v1.bankCode1 = v2.bankCode2  ORDER BY dataValue desc
        ) where rownum &lt;=5
    </select>

    <select id="getLoanIncLastFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">

        SELECT * from (
        SELECT v2.sum2-v1.sum1  as dataValue,v1.bankCode1 as bankCode from
        (select sum(a.loan_bal) as sum1,a.LVL1_BR as bankCode1 from DLA_RPT_R_DEP_LOAN_SCL a where to_char(a.data_dt,'yyyy-mm-dd')=to_char(sysdate-1,'yyyy-mm-dd') GROUP BY a.LVL1_BR) v1,
        (select b.loan_bal as sum2,b.org as bankCode2 from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where to_date(b.dt,'yyyy-MM-dd hh24:mi:ss')=
        (select max(to_date(dt,'yyyy-MM-dd hh24:mi:ss')) from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL a where a.org = b.org) ) v2
        where v1.bankCode1 = v2.bankCode2  ORDER BY dataValue asc
        ) where rownum &lt;=5
    </select>

    <select id="getLoanBalTopFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
       select * from
        (select b.loan_bal as dataValue,b.org as bankCode from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where to_date(b.dt,'yyyy-MM-dd hh24:mi:ss')=
        (select max(to_date(dt,'yyyy-MM-dd hh24:mi:ss')) from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL a where a.org = b.org)
        and b.org in('3200','3300','3400','3500','3600','3700','4300','4500','4800','5800','5900','6000','6100','6300','6400','6500','6600','6800','6900','7000','7100','7200','7300','7400','7500','7600','7700','7800','7900','8200','8300','8900','9100','9300','9400','9500','9800')
         ORDER BY dataValue desc
        )where rownum &lt;=5
    </select>

    <select id="getLoanBalLastFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
    select * from
        (select b.loan_bal as dataValue,b.org as bankCode from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where to_date(b.dt,'yyyy-MM-dd hh24:mi:ss')=
        (select max(to_date(dt,'yyyy-MM-dd hh24:mi:ss')) from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL a where a.org = b.org)
         and b.org in('3200','3300','3400','3500','3600','3700','4300','4500','4800','5800','5900','6000','6100','6300','6400','6500','6600','6800','6900','7000','7100','7200','7300','7400','7500','7600','7700','7800','7900','8200','8300','8900','9100','9300','9400','9500','9800')
        ORDER BY dataValue asc
        )where rownum &lt;=5
    </select>

    <select id="getLoanThreeMonKline" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
select t1.data_dt as dataDate,t1.count as todaydata,t2.count as  yestdata from
        (select data_dt,sum(loan_bal) count from DLA_RPT_R_DEP_LOAN_SCL where data_dt BETWEEN ADD_MONTHS(sysdate, -1) and  sysdate GROUP BY data_dt ) t2
         inner join
        (select data_dt,sum(loan_bal) count from DLA_RPT_R_DEP_LOAN_SCL where data_dt BETWEEN ADD_MONTHS(sysdate, -1) and  sysdate GROUP BY data_dt ) t1 --jintian
        on t1.data_dt = t2.data_dt+1  order BY t1.data_dt asc
    </select>

    <select id="getLoanThreeMonTrend" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
     select sum(Loan_Y_Avg_Bal) as dataValue,data_dt as dataDate
     from DLA_RPT_R_DEP_LOAN_SCL where data_dt BETWEEN ADD_MONTHS(sysdate, -3) and  sysdate GROUP BY data_dt

    </select>

    <!--当日贷款增量总和-->
    <select id="getLoanIncSum" resultType="java.lang.Double">

    select sum(dataValue)  from (SELECT v2.sum2-v1.sum1  as dataValue,v1.bankCode1 from
        (select sum(a.loan_bal) as sum1,a.LVL1_BR as bankCode1 from DLA_RPT_R_DEP_LOAN_SCL a where to_char(a.data_dt,'yyyy-mm-dd')=to_char(sysdate-1,'yyyy-mm-dd') GROUP BY a.LVL1_BR) v1,
        (select b.loan_bal as sum2,b.org as bankCode2 from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where to_date(b.dt,'yyyy-MM-dd hh24:mi:ss')=
        (select max(to_date(dt,'yyyy-MM-dd hh24:mi:ss')) from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL a where a.org = b.org) ) v2
        where v1.bankCode1 = v2.bankCode2)

</select>

    <!--当日贷款余额总和-->

    <select id="getLoanBalSum" resultType="java.lang.Double">

        select sum(sum2)  from (
        (select b.loan_bal as sum2,b.org as bankCode2 from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where to_date(b.dt,'yyyy-MM-dd hh24:mi:ss')=
        (select max(to_date(dt,'yyyy-MM-dd hh24:mi:ss')) from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL a where a.org = b.org)
         and b.org in('3200','3300','3400','3500','3600','3700','4300','4500','4800','5800','5900','6000','6100','6300','6400','6500','6600','6800','6900','7000','7100','7200','7300','7400','7500','7600','7700','7800','7900','8200','8300','8900','9100','9300','9400','9500','9800')
)
        )
    </select>
    <!--贷款比月初&比年初-->

    <select id="getLoanThan" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
         select sum(Loan_Bal_Cbm) as thanMonthBegin,sum(Loan_Bal_Cby) as thanYearBegin
      from DLA_RPT_R_DEP_LOAN_SCL where to_char(data_dt,'yyyy-mm-dd')=to_char(sysdate-1,'yyyy-mm-dd')
    </select>


    <!--=================金融资产=================-->

    <!--金融资产增量排名前五-->
    <select id="getFinAssIncTopFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
        select *from
        (select SUM(a.FNC_AST_BAL_TD_INCR) as dataValue,a.LVL1_BR as bankCode,MAX(b.LVL1_NAME) as bankName
        from DLA_RPT_R_AST_SCL a, LVL1_BR_NAME_CODE b
        where b.LVL1_CODE=a.LVL1_BR and to_char(a.data_dt,'yyyy-mm-dd')=to_char(sysdate-1,'yyyy-mm-dd')
         GROUP BY a.LVL1_BR ORDER BY dataValue desc
        ) where rownum &lt;=5
    </select>

    <select id="getFinAssIncLastFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
        select *from
        (select SUM(a.FNC_AST_BAL_TD_INCR) as dataValue,a.LVL1_BR as bankCode,MAX(b.LVL1_NAME) as bankName
        from DLA_RPT_R_AST_SCL a, LVL1_BR_NAME_CODE b
        where b.LVL1_CODE=a.LVL1_BR and to_char(a.data_dt,'yyyy-mm-dd')=to_char(sysdate-1,'yyyy-mm-dd')
         GROUP BY a.LVL1_BR ORDER BY dataValue asc
        ) where rownum &lt;=5
    </select>

    <select id="getFinAssBalTopFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
        select *from
        (select SUM(a.Fnc_Ast_Bal) as dataValue,a.LVL1_BR as bankCode,MAX(b.LVL1_NAME) as bankName
        from DLA_RPT_R_AST_SCL a, LVL1_BR_NAME_CODE b
        where b.LVL1_CODE=a.LVL1_BR and to_char(a.data_dt,'yyyy-mm-dd')=to_char(sysdate-1,'yyyy-mm-dd')
         GROUP BY a.LVL1_BR ORDER BY dataValue desc
        ) where rownum &lt;=5
    </select>

    <select id="getFinAssBalLastFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
        select *from
        (select SUM(a.Fnc_Ast_Bal) as dataValue,a.LVL1_BR as bankCode,MAX(b.LVL1_NAME) as bankName
        from DLA_RPT_R_AST_SCL a, LVL1_BR_NAME_CODE b
        where b.LVL1_CODE=a.LVL1_BR and to_char(a.data_dt,'yyyy-mm-dd')=to_char(sysdate-1,'yyyy-mm-dd')
         GROUP BY a.LVL1_BR ORDER BY dataValue asc
        ) where rownum &lt;=5
    </select>

    <select id="getFinAssThreeMonKline" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
select t1.data_dt as dataDate,t1.count as todaydata,t2.count as  yestdata from
        (select data_dt,sum(Fnc_Ast_Bal) count from DLA_RPT_R_AST_SCL where data_dt BETWEEN ADD_MONTHS(sysdate, -1) and  sysdate GROUP BY data_dt ) t2
         inner join
        (select data_dt,sum(Fnc_Ast_Bal) count from DLA_RPT_R_AST_SCL where data_dt BETWEEN ADD_MONTHS(sysdate, -1) and  sysdate GROUP BY data_dt ) t1 --jintian
        on t1.data_dt = t2.data_dt+1  order BY t1.data_dt asc
    </select>

    <select id="getFinAssThreeMonTrend" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
     select sum(Fnc_Ast_Bal_Y_Avg) as dataValue,data_dt as dataDate from DLA_RPT_R_AST_SCL where data_dt BETWEEN ADD_MONTHS(sysdate, -3) and  sysdate GROUP BY data_dt

    </select>


    <select id="getFinAssSumData" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
      select sum(Fnc_Ast_Bal) as balance,sum(Fnc_Ast_Bal_Cbm) as thanMonthBegin,sum(Fnc_Ast_Bal_Cby) as thanYearBegin
      from DLA_RPT_R_AST_SCL where to_char(data_dt,'yyyy-mm-dd')=to_char(sysdate-1,'yyyy-mm-dd')


    </select>

    <!--===========================非存资产====================-->
    <select id="getNonDepIncTopFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
        select *from
        (select SUM(a.NON_DEP_AST_TD_INCR) as dataValue,a.LVL1_BR as bankCode,MAX(b.LVL1_NAME) as bankName
        from DLA_RPT_R_AST_SCL a, LVL1_BR_NAME_CODE b
        where b.LVL1_CODE=a.LVL1_BR and to_char(a.data_dt,'yyyy-mm-dd')=to_char(sysdate-1,'yyyy-mm-dd')
         GROUP BY a.LVL1_BR ORDER BY dataValue desc
        ) where rownum &lt;=5
    </select>

    <select id="getNonDepIncLastFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
        select *from
        (select SUM(a.NON_DEP_AST_TD_INCR) as dataValue,a.LVL1_BR as bankCode,MAX(b.LVL1_NAME) as bankName
        from DLA_RPT_R_AST_SCL a, LVL1_BR_NAME_CODE b
        where b.LVL1_CODE=a.LVL1_BR and to_char(a.data_dt,'yyyy-mm-dd')=to_char(sysdate-1,'yyyy-mm-dd')
         GROUP BY a.LVL1_BR ORDER BY dataValue asc
        ) where rownum &lt;=5
    </select>

    <select id="getNonDepBalTopFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
        select *from
        (select SUM(a.NON_DEP_AST_BAL) as dataValue,a.LVL1_BR as bankCode,MAX(b.LVL1_NAME) as bankName
        from DLA_RPT_R_AST_SCL a, LVL1_BR_NAME_CODE b
        where b.LVL1_CODE=a.LVL1_BR and to_char(a.data_dt,'yyyy-mm-dd')=to_char(sysdate-1,'yyyy-mm-dd')
         GROUP BY a.LVL1_BR ORDER BY dataValue desc
        ) where rownum &lt;=5

    </select>

    <select id="getNonDepBalLastFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
       select *from
        (select SUM(a.NON_DEP_AST_BAL) as dataValue,a.LVL1_BR as bankCode,MAX(b.LVL1_NAME) as bankName
        from DLA_RPT_R_AST_SCL a, LVL1_BR_NAME_CODE b
        where b.LVL1_CODE=a.LVL1_BR and to_char(a.data_dt,'yyyy-mm-dd')=to_char(sysdate-1,'yyyy-mm-dd')
         GROUP BY a.LVL1_BR ORDER BY dataValue asc
        ) where rownum &lt;=5
    </select>

    <select id="getNonDepThreeMonKline" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
	    select t1.data_dt as dataDate,t1.count as todaydata,t2.count as  yestdata from
        (select data_dt,sum(Non_Dep_Ast_Bal) count from DLA_RPT_R_AST_SCL where data_dt BETWEEN ADD_MONTHS(sysdate, -1) and  sysdate GROUP BY data_dt ) t2
         inner join
        (select data_dt,sum(Non_Dep_Ast_Bal) count from DLA_RPT_R_AST_SCL where data_dt BETWEEN ADD_MONTHS(sysdate, -1) and  sysdate GROUP BY data_dt ) t1 --jintian
        on t1.data_dt = t2.data_dt+1  order BY t1.data_dt asc
    </select>

    <select id="getNonDepThreeMonTrend" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
     select sum(Non_Dep_Ast_Y_Avg) as dataValue,
     data_dt as dataDate from DLA_RPT_R_AST_SCL
     where data_dt BETWEEN ADD_MONTHS(sysdate, -3) and  sysdate
     GROUP BY data_dt
    </select>

    <!--非存资产余额、比月初、比年初-->
    <select id="getNonDepSumData" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
      select sum(Non_Dep_Ast_Bal) as balance,
      sum(Non_Dep_Ast_Bal_Cbm) as thanMonthBegin,
      sum(Non_Dep_Ast_Bal_Cby) as thanYearBegin
      from DLA_RPT_R_AST_SCL
      where to_char(data_dt,'yyyy-mm-dd')=to_char(sysdate-1,'yyyy-mm-dd')

    </select>


    <select id="getdepInAndOut" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">

        select
        sum(BCP_INCOME+   BAK_FIN_IN  +TRI_AGENT_IN +TRI_AGENT_IN  +THIRD_DEP_IN+REMIT_IN+LOAN_IN+CASH_ACCESS_IN+
        INTEREST_IN+CREDIT_CARD_IN+ACCEPT_IN+RECEIPT_PAY_IN+FOR_EXCH_SALE_IN+SECUR_DEP_IN+ELSE_ADAP_IN)  as depIn,
        sum(BAK_FIN_OUT+TRI_AGENT_OUT+THIRD_DEP_OUT+REMIT_OUT+LOAN_OUT+CASH_ACCESS_OUT+INTEREST_OUT+CREDIT_CARD_OUT+RECEIPT_PAY_OUT+
        FOR_EXCH_SALE_OUT) as depOut,
        Lvl1_Br as bankCode
        from DLA_RPT_DEP_FUND_INCOME_PAY
        where date_dt=sysdate-1
        GROUP by lvl1_br

    </select>





</mapper>