<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.spdb.nrpt.mapper.retailIndexMapper.RetailIndexDataMapper">


    <!--==========================================存款===============================-->
    <!--当日存款增量排名前五-->

    <!--到时分秒-->
    <select id="getdepIncTopFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
        SELECT * from (
        SELECT v2.sum2-v1.sum1  as dataValue,v1.bankCode1 as bankCode from
        (select sum(a.dep_bal) as sum1,a.LVL1_BR as bankCode1 from DLA_RPT_R_DEP_LOAN_SCL a where a.data_dt=(select max(data_dt) from DLA_RPT_R_DEP_LOAN_SCL where LVL1_BR = a.LVL1_BR) and a.LVL1_BR!='9940' and a.LVL1_BR!='9900' GROUP BY a.LVL1_BR) v1,
        (select b.dep_bal as sum2,b.org as bankCode2 from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where b.dt=(select max(dt) from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL where org = b.org) and b.org!='9900' and b.org!='9940') v2
        where v1.bankCode1 = v2.bankCode2  ORDER BY dataValue desc
        ) where rownum &lt;=5
    </select>


    <!--当日存款增量排名后五-->
    <select id="getdepIncLastFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
            SELECT * from (
        SELECT v2.sum2-v1.sum1  as dataValue,v1.bankCode1 as bankCode from
        (select sum(a.dep_bal) as sum1,a.LVL1_BR as bankCode1 from DLA_RPT_R_DEP_LOAN_SCL a where a.data_dt=(select max(data_dt) from DLA_RPT_R_DEP_LOAN_SCL where LVL1_BR = a.LVL1_BR) and a.LVL1_BR!='9940'  GROUP BY a.LVL1_BR) v1,
        (select b.dep_bal as sum2,b.org as bankCode2 from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where b.dt=(select max(dt) from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL where org = b.org) and b.org!='9900') v2
        where v1.bankCode1 = v2.bankCode2  ORDER BY dataValue asc
        ) where rownum &lt;=5
    </select>
    <!--当日存款余额前五-->
    <!--<select id="getDepBalTopFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">-->
    <!--select *from-->
    <!--(select SUM(a.dep_bal) as dataValue,a.org as bankCode,MAX(b.LVL1_NAME) as bankName-->
    <!--from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL a, LVL1_BR_NAME_CODE b-->
    <!--where b.LVL1_CODE=a.org and to_char(a.dt,'yyyy-mm-dd')=to_char(sysdate,'yyyy-mm-dd')-->
    <!--GROUP BY a.org ORDER BY dataValue desc)-->
    <!--where rownum &lt;=5-->

    <!--</select>-->

    <select id="getDepBalTopFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">

        select * from
        (select b.dep_bal as dataValue,b.org as bankCode from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where b.dt=(select max(dt) from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL where org = b.org)
        and b.org in('3200','3300','3400','3500','3600','3700','4300','4500','4800','5800','5900','6000','6100','6300','6400','6500','6600','6800','6900','7000','7100','7200','7300','7400','7500','7600','7700','7800','7900','8200','8300','8900','9100','9300','9400','9500','9800')
         ORDER BY dataValue desc
        )where rownum &lt;=5
    </select>
    <!--当日存款余额后五-->
    <select id="getDepBalLastFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
        select * from
        (select b.dep_bal as dataValue,b.org as bankCode from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where b.dt=(select max(dt) from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL where org = b.org)
        and b.org in('3200','3300','3400','3500','3600','3700','4300','4500','4800','5800','5900','6000','6100','6300','6400','6500','6600','6800','6900','7000','7100','7200','7300','7400','7500','7600','7700','7800','7900','8200','8300','8900','9100','9300','9400','9500','9800')
         ORDER BY dataValue asc
        )where rownum &lt;=5
    </select>

    <select id="getdepThreeMonKline" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
	select t1.data_dt as dataDate,t1.count as todaydata,t2.count as  yestdata
  from (select data_dt,sum(dep_bal) count from DLA_RPT_R_DEP_LOAN_SCL where data_dt BETWEEN ADD_MONTHS(sysdate, -3) and  sysdate and LVL1_BR!='9900' and LVL1_BR!='9940'  GROUP BY data_dt ) t2
  inner join
  (select data_dt,sum(dep_bal) count from DLA_RPT_R_DEP_LOAN_SCL where data_dt BETWEEN ADD_MONTHS(sysdate, -3) and  sysdate and LVL1_BR!='9900' and LVL1_BR!='9940' GROUP BY data_dt ) t1 --jintian
  on t1.data_dt = t2.data_dt+1  order BY t1.data_dt asc

    </select>

    <!--存款近三月趋势-->
    <select id="getdepThreeMonTrend" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
     select sum(Dep_Y_Avg_Bal) as dataValue,data_dt as dataDate from DLA_RPT_R_DEP_LOAN_SCL where data_dt
     BETWEEN ADD_MONTHS(sysdate, -3) and  sysdate and LVL1_BR!='9900' and LVL1_BR!='9940' GROUP BY data_dt

    </select>

    <!--当日存款增量总和-->
    <select id="getdepIncSum" resultType="java.lang.Long">

    SELECT  v2.sum2-v1.sum1 AS s_1

FROM (

select '9900' AS ORG_ID,sum(COALESCE(a.dep_bal,0)) as sum1

from DLA_RPT_R_DEP_LOAN_SCL a where a.data_dt =  ( SELECT max( data_dt ) FROM DLA_RPT_R_DEP_LOAN_SCL )

AND a.LVL1_BR != '9900' ) V1

LEFT JOIN (select '9900' AS ORG_ID,sum(COALESCE(b.dep_bal,0)) as sum2 from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where b.dt=to_char(sysdate,'yyyymmdd') and org ='9900'

) v2 on v1.ORG_ID = v2.ORG_ID
</select>

    <!--当日存款余额总和-->

    <!--<select id="getdepBalSum" resultType="java.lang.Long">-->

        <!--select sum(sum2)  from-->
        <!--(select b.dep_bal as sum2,b.org as bankCode2 from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where b.dt=(select max(dt) from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL where org = b.org)-->
         <!--and b.org in('3200','3300','3400','3500','3600','3700','4300','4500','4800','5800','5900','6000','6100','6300','6400','6500','6600','6800','6900','7000','7100','7200','7300','7400','7500','7600','7700','7800','7900','8200','8300','8900','9100','9300','9400','9500','9800')-->
        <!--)-->

    <!--</select>-->
    <select id="getdepBalSum" resultType="java.lang.Long">

     select sum(COALESCE(b.dep_bal,0)) as sum2 from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where b.dt=to_char(sysdate,'yyyymmdd') and org ='9900'
    </select>
    <!--存款比月初&比年初-->

    <!--<select id="getdepThan" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">-->
         <!--select sum(a.Dep_Bal_Cbm) as thanMonthBegin,sum(a.Dep_Bal_Cby) as thanYearBegin-->
      <!--from DLA_RPT_R_DEP_LOAN_SCL a where a.data_dt=(select max(data_dt) from DLA_RPT_R_DEP_LOAN_SCL where LVL1_BR = a.LVL1_BR) and a.LVL1_BR!='9900'  and a.LVL1_BR!='9940'-->
    <!--</select>-->

    <!--<select id="getdepThan" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">-->
<!--select sum(thanMonthBegin) as thanMonthBegin,sum(thanYearBegin) as thanYearBegin FROM(-->
<!--SELECT-->
	<!--v2.sum2 - v1.sum1 AS thanMonthBegin,-->
	<!--v2.sum2 - v3.sum3 AS thanYearBegin,-->
	<!--v1.bankCode1 AS bankCode-->
<!--FROM-->
	<!--(SELECT b.dep_bal AS sum2,b.org AS bankCode2 FROM  DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b   WHERE-->
	  <!--b.dt = ( SELECT max( dt ) FROM DLA_RPT_R_DEP_LOAN_SCL_RT_ANL WHERE org = b.org ) AND b.org != '9940'-->
	<!--) v2-->
	<!--INNER JOIN-->
	<!--( SELECT  sum( a.dep_bal ) AS sum1,  a.LVL1_BR AS bankCode1   FROM DLA_RPT_R_DEP_LOAN_SCL a  WHERE  a.data_dt = LAST_DAY( ADD_MONTHS ( ( SELECT max( data_dt ) FROM DLA_RPT_R_DEP_LOAN_SCL ),- 1 ) )-->
	<!--AND a.LVL1_BR != '9940' AND a.LVL1_BR != '9900'   GROUP BY a.LVL1_BR   ) v1-->
	 <!--ON v1.bankCode1 = v2.bankCode2-->
	<!--INNER JOIN-->
	 <!--(SELECT sum( c.dep_bal ) AS sum3,	c.LVL1_BR AS bankCode3 FROM	DLA_RPT_R_DEP_LOAN_SCL c WHERE	c.data_dt = to_date ( to_char ( ( SELECT max( data_dt ) FROM DLA_RPT_R_DEP_LOAN_SCL ), 'yyyy' ) - 1 || '1231', 'yyyy-mm-dd' )-->
	  <!--AND c.LVL1_BR != '9940' 	AND c.LVL1_BR != '9900' GROUP BY	c.LVL1_BR ) v3-->
	  <!--ON v2.bankCode2 = v3.bankCode3)-->
    <!--</select>-->
    <!---->
    <select id="getdepThanYear" resultType="java.lang.Long">
SELECT v2.sum2-v1.sum1 AS s_1

FROM (

select '9900' AS ORG_ID,sum(COALESCE(a.dep_bal,0)) as sum1

from DLA_RPT_R_DEP_LOAN_SCL a where a.data_dt = to_date ( to_char ( ( SELECT max( data_dt ) FROM DLA_RPT_R_DEP_LOAN_SCL ), 'yyyy' ) - 1 || '1231', 'yyyy-mm-dd' )

AND a.LVL1_BR != '9900' ) V1

LEFT JOIN (select '9900' AS ORG_ID,sum(COALESCE(b.dep_bal,0)) as sum2 from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where b.dt=to_char(sysdate,'yyyymmdd') and org ='9900'

) v2 on v1.ORG_ID = v2.ORG_ID
    </select>

    <select id="getdepThanMonth" resultType="java.lang.Long">
SELECT v2.sum2-v1.sum1 AS s_1

FROM (

select '9900' AS ORG_ID,sum(COALESCE(a.dep_bal,0)) as sum1

from DLA_RPT_R_DEP_LOAN_SCL a where a.data_dt = LAST_DAY( ADD_MONTHS ( to_date(to_char(sysdate,'yyyy-mm-dd'),'yyyy-mm-dd'),- 1 ) )

AND a.LVL1_BR != '9900' ) V1

LEFT JOIN (select '9900' AS ORG_ID,sum(COALESCE(b.dep_bal,0)) as sum2 from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where b.dt=to_char(sysdate,'yyyymmdd') and org ='9900'

) v2 on v1.ORG_ID = v2.ORG_ID
    </select>

    <!--===================贷款===========================================================================-->
    <!--贷款增量前五-->
    <!--<select id="getLoanIncTopFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">-->
    <!--SELECT * from (-->
    <!--SELECT v2.sum2-v1.sum1  as dataValue,v1.bankCode1 as bankCode from-->
    <!--(select sum(a.loan_bal) as sum1,a.LVL1_BR as bankCode1 from DLA_RPT_R_DEP_LOAN_SCL a where to_char(a.data_dt,'yyyy-mm-dd')=to_char(sysdate-1,'yyyy-mm-dd') GROUP BY a.LVL1_BR) v1,-->
    <!--(select sum(b.loan_bal) as sum2,b.org as bankCode2 from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL  b where to_char(b.dt,'yyyy-mm-dd')=to_char(sysdate,'yyyy-mm-dd') GROUP BY b.org) v2-->
    <!--where v1.bankCode1 = v2.bankCode2  ORDER BY dataValue desc-->
    <!--) where rownum &lt;=5-->
    <!--</select>-->

    <select id="getLoanIncTopFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">

        SELECT * from (
        SELECT v2.sum2-v1.sum1  as dataValue,v1.bankCode1 as bankCode from
        (select sum(a.loan_bal) as sum1,a.LVL1_BR as bankCode1 from DLA_RPT_R_DEP_LOAN_SCL a where a.data_dt=(select max(data_dt) from DLA_RPT_R_DEP_LOAN_SCL where LVL1_BR = a.LVL1_BR) and a.LVL1_BR!='9940' and a.LVL1_BR!='9900' GROUP BY a.LVL1_BR) v1,
        (select b.loan_bal as sum2,b.org as bankCode2 from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where b.dt=(select max(dt) from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL where org = b.org) and b.org!='9940' and b.org!='9900') v2
        where v1.bankCode1 = v2.bankCode2  ORDER BY dataValue desc
        ) where rownum &lt;=5
    </select>

    <select id="getLoanIncLastFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">

        SELECT * from (
        SELECT v2.sum2-v1.sum1  as dataValue,v1.bankCode1 as bankCode from
        (select sum(a.loan_bal) as sum1,a.LVL1_BR as bankCode1 from DLA_RPT_R_DEP_LOAN_SCL a where a.data_dt=(select max(data_dt) from DLA_RPT_R_DEP_LOAN_SCL where LVL1_BR = a.LVL1_BR) and a.LVL1_BR!='9940' and a.LVL1_BR!='9900' GROUP BY a.LVL1_BR) v1,
        (select b.loan_bal as sum2,b.org as bankCode2 from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where b.dt=(select max(dt) from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL where org = b.org) and b.org!='9940' and  b.org!='9900') v2
        where v1.bankCode1 = v2.bankCode2  ORDER BY dataValue asc
        ) where rownum &lt;=5
    </select>

    <select id="getLoanBalTopFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
       select * from
        (select b.loan_bal as dataValue,b.org as bankCode from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where b.dt=(select max(dt) from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL where org = b.org)
        and b.org in('3200','3300','3400','3500','3600','3700','4300','4500','4800','5800','5900','6000','6100','6300','6400','6500','6600','6800','6900','7000','7100','7200','7300','7400','7500','7600','7700','7800','7900','8200','8300','8900','9100','9300','9400','9500','9800')
         ORDER BY dataValue desc
        )where rownum &lt;=5
    </select>

    <!--<select id="getLoanBalLastFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">-->
    <!--select * from-->
        <!--(select b.loan_bal as dataValue,b.org as bankCode from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where to_date(b.dt,'yyyy-MM-dd hh24:mi:ss')=-->
        <!--(select max(to_date(dt,'yyyy-MM-dd hh24:mi:ss')) from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL a where a.org = b.org)-->
         <!--and b.org in('3200','3300','3400','3500','3600','3700','4300','4500','4800','5800','5900','6000','6100','6300','6400','6500','6600','6800','6900','7000','7100','7200','7300','7400','7500','7600','7700','7800','7900','8200','8300','8900','9100','9300','9400','9500','9800')-->
        <!--ORDER BY dataValue asc-->
        <!--)where rownum &lt;=5-->
    <!--</select>-->


    <select id="getLoanBalLastFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
    select * from
        (select b.loan_bal as dataValue,b.org as bankCode from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where b.dt=(select max(dt) from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL where org = b.org)
         and b.org in('3200','3300','3400','3500','3600','3700','4300','4500','4800','5800','5900','6000','6100','6300','6400','6500','6600','6800','6900','7000','7100','7200','7300','7400','7500','7600','7700','7800','7900','8200','8300','8900','9100','9300','9400','9500','9800')
        ORDER BY dataValue asc
        )where rownum &lt;=5
    </select>
    <select id="getLoanThreeMonKline" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
select t1.data_dt as dataDate,t1.count as todaydata,t2.count as  yestdata from
        (select data_dt,sum(loan_bal) count from DLA_RPT_R_DEP_LOAN_SCL where data_dt BETWEEN ADD_MONTHS(sysdate, -3) and  sysdate and LVL1_BR!='9900' and LVL1_BR!='9940' GROUP BY data_dt ) t2
         inner join
        (select data_dt,sum(loan_bal) count from DLA_RPT_R_DEP_LOAN_SCL where data_dt BETWEEN ADD_MONTHS(sysdate, -3) and  sysdate and LVL1_BR!='9900' and LVL1_BR!='9940' GROUP BY data_dt ) t1 --jintian
        on t1.data_dt = t2.data_dt+1  order BY t1.data_dt asc
    </select>

    <select id="getLoanThreeMonTrend" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
     select sum(Loan_Y_Avg_Bal) as dataValue,data_dt as dataDate
     from DLA_RPT_R_DEP_LOAN_SCL where data_dt BETWEEN ADD_MONTHS(sysdate, -3) and  sysdate and LVL1_BR!='9900' and LVL1_BR!='9940' GROUP BY data_dt

    </select>

    <!--当日贷款增量总和-->
    <select id="getLoanIncSum" resultType="java.lang.Long">

    SELECT  v2.sum2-v1.sum1 AS s_1

FROM (

select '9900' AS ORG_ID,sum(COALESCE(a.loan_bal,0)) as sum1

from DLA_RPT_R_DEP_LOAN_SCL a where a.data_dt =  ( SELECT max( data_dt ) FROM DLA_RPT_R_DEP_LOAN_SCL )

AND a.LVL1_BR != '9900' ) V1

LEFT JOIN (select '9900' AS ORG_ID,sum(COALESCE(b.loan_bal,0)) as sum2 from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where b.dt=to_char(sysdate,'yyyymmdd') and org ='9900'

) v2 on v1.ORG_ID = v2.ORG_ID
</select>

    <!--当日贷款余额总和-->

    <!--<select id="getLoanBalSum" resultType="java.lang.Long">-->

        <!--select sum(sum2)  from (-->
        <!--(select b.loan_bal as sum2,b.org as bankCode2 from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where b.dt=(select max(dt) from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL where org = b.org)-->
         <!--and b.org in('3200','3300','3400','3500','3600','3700','4300','4500','4800','5800','5900','6000','6100','6300','6400','6500','6600','6800','6900','7000','7100','7200','7300','7400','7500','7600','7700','7800','7900','8200','8300','8900','9100','9300','9400','9500','9800')-->
<!--)-->
        <!--)-->
    <!--</select>-->
    <select id="getLoanBalSum" resultType="java.lang.Long">
        select sum(COALESCE(b.loan_bal,0)) as sum2 from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where b.dt=to_char(sysdate,'yyyymmdd') and org ='9900'

    </select>
    <!--贷款比月初&比年初-->

    <!--<select id="getLoanThan" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">-->
         <!--select sum(a.Loan_Bal_Cbm) as thanMonthBegin,sum(a.Loan_Bal_Cby) as thanYearBegin-->
      <!--from DLA_RPT_R_DEP_LOAN_SCL a where a.data_dt=(select max(data_dt) from DLA_RPT_R_DEP_LOAN_SCL where LVL1_BR = a.LVL1_BR) and a.LVL1_BR!='9940' and a.LVL1_BR!='9900'-->
    <!--</select>-->
    <!--<select id="getLoanThan" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">-->
    <!--select sum(thanMonthBegin) as thanMonthBegin,sum(thanYearBegin) as thanYearBegin FROM(-->
    <!--SELECT-->
	<!--v2.sum2 - v1.sum1 AS thanMonthBegin,-->
	<!--v2.sum2 - v3.sum3 AS thanYearBegin,-->
	<!--v1.bankCode1 AS bankCode-->
<!--FROM-->
	<!--(SELECT b.loan_bal AS sum2,b.org AS bankCode2 FROM  DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b   WHERE-->
	  <!--b.dt = ( SELECT max( dt ) FROM DLA_RPT_R_DEP_LOAN_SCL_RT_ANL WHERE org = b.org ) AND b.org != '9940'-->
	<!--) v2-->
	<!--INNER JOIN-->
	<!--( SELECT  sum( a.loan_bal ) AS sum1,  a.LVL1_BR AS bankCode1   FROM DLA_RPT_R_DEP_LOAN_SCL a  WHERE  a.data_dt = LAST_DAY( ADD_MONTHS ( ( SELECT max( data_dt ) FROM DLA_RPT_R_DEP_LOAN_SCL ),- 1 ) )-->
	<!--AND a.LVL1_BR != '9940' AND a.LVL1_BR != '9900'   GROUP BY a.LVL1_BR   ) v1-->
	 <!--ON v1.bankCode1 = v2.bankCode2-->
	<!--INNER JOIN-->
	 <!--(SELECT sum( c.loan_bal ) AS sum3,	c.LVL1_BR AS bankCode3 FROM	DLA_RPT_R_DEP_LOAN_SCL c WHERE	c.data_dt = to_date ( to_char ( ( SELECT max( data_dt ) FROM DLA_RPT_R_DEP_LOAN_SCL ), 'yyyy' ) - 1 || '1231', 'yyyy-mm-dd' )-->
	  <!--AND c.LVL1_BR != '9940' 	AND c.LVL1_BR != '9900' GROUP BY	c.LVL1_BR ) v3-->
	  <!--ON v2.bankCode2 = v3.bankCode3)-->
    <!--</select>-->
    <select id="getLoanThanYear" resultType="java.lang.Long">

SELECT v2.sum2-v1.sum1 AS s_1

FROM (

select '9900' AS ORG_ID,sum(COALESCE(a.loan_bal,0)) as sum1

from DLA_RPT_R_DEP_LOAN_SCL a where a.data_dt = to_date ( to_char ( ( SELECT max( data_dt ) FROM DLA_RPT_R_DEP_LOAN_SCL ), 'yyyy' ) - 1 || '1231', 'yyyy-mm-dd' )

AND a.LVL1_BR != '9900' ) V1

LEFT JOIN (select '9900' AS ORG_ID,sum(COALESCE(b.loan_bal,0)) as sum2 from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where b.dt=to_char(sysdate,'yyyymmdd') and org ='9900'

) v2 on v1.ORG_ID = v2.ORG_ID



    </select>


    <select id="getLoanThanMonth" resultType="java.lang.Long">
SELECT  v2.sum2-v1.sum1 AS s_1

FROM (

select '9900' AS ORG_ID,sum(COALESCE(a.loan_bal,0)) as sum1

from DLA_RPT_R_DEP_LOAN_SCL a where a.data_dt = LAST_DAY( ADD_MONTHS (  to_date(to_char(sysdate,'yyyy-mm-dd'),'yyyy-mm-dd'),- 1 ) )

AND a.LVL1_BR != '9900' ) V1

LEFT JOIN (select '9900' AS ORG_ID,sum(COALESCE(b.loan_bal,0)) as sum2 from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where b.dt=to_char(sysdate,'yyyymmdd') and org ='9900'

) v2 on v1.ORG_ID = v2.ORG_ID



    </select>
    <!--=================金融资产=================-->

    <!--金融资产增量排名前五-->
    <select id="getFinAssIncTopFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
        select *from
        (select SUM(a.FNC_AST_BAL_TD_INCR) as dataValue,a.LVL1_BR as bankCode
        from DLA_RPT_R_AST_SCL a
        where a.data_dt=(select max(data_dt) from DLA_RPT_R_AST_SCL where LVL1_BR = a.LVL1_BR) and a.LVL1_BR!='9940'  and a.LVL1_BR!='9900'
        GROUP BY a.LVL1_BR ORDER BY dataValue desc
        ) where rownum &lt;=5
    </select>

    <select id="getFinAssIncLastFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
        select *from
        (select SUM(a.FNC_AST_BAL_TD_INCR) as dataValue,a.LVL1_BR as bankCode
        from DLA_RPT_R_AST_SCL a
        where a.data_dt=(select max(data_dt) from DLA_RPT_R_AST_SCL where LVL1_BR = a.LVL1_BR) and a.LVL1_BR!='9940'  and a.LVL1_BR!='9900'
        GROUP BY a.LVL1_BR ORDER BY dataValue asc
        ) where rownum &lt;=5
    </select>

    <select id="getFinAssBalTopFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
        select *from
        (select SUM(a.Fnc_Ast_Bal) as dataValue,a.LVL1_BR as bankCode
        from DLA_RPT_R_AST_SCL a
        where a.data_dt=(select max(data_dt) from DLA_RPT_R_AST_SCL where LVL1_BR = a.LVL1_BR) and a.LVL1_BR!='9940' and a.LVL1_BR!='9900'
        GROUP BY a.LVL1_BR ORDER BY dataValue desc
        ) where rownum &lt;=5
    </select>

    <select id="getFinAssBalLastFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
        select *from
        (select SUM(a.Fnc_Ast_Bal) as dataValue,a.LVL1_BR as bankCode
        from DLA_RPT_R_AST_SCL a
        where a.data_dt=(select max(data_dt) from DLA_RPT_R_AST_SCL where LVL1_BR = a.LVL1_BR) and a.LVL1_BR!='9940'  and a.LVL1_BR!='9900'
        GROUP BY a.LVL1_BR ORDER BY dataValue asc
        ) where rownum &lt;=5
    </select>

    <select id="getFinAssThreeMonKline" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
select t1.data_dt as dataDate,t1.count as todaydata,t2.count as  yestdata from
        (select data_dt,sum(Fnc_Ast_Bal) count from DLA_RPT_R_AST_SCL where data_dt BETWEEN ADD_MONTHS(sysdate, -3) and  sysdate and LVL1_BR!='9900' and LVL1_BR!='9940' GROUP BY data_dt ) t2
         inner join
        (select data_dt,sum(Fnc_Ast_Bal) count from DLA_RPT_R_AST_SCL where data_dt BETWEEN ADD_MONTHS(sysdate, -3) and  sysdate and LVL1_BR!='9900' and LVL1_BR!='9940' GROUP BY data_dt ) t1 --jintian
        on t1.data_dt = t2.data_dt+1  order BY t1.data_dt asc
    </select>

    <select id="getFinAssThreeMonTrend" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
     select sum(Fnc_Ast_Bal_Y_Avg) as dataValue,data_dt as dataDate from DLA_RPT_R_AST_SCL where data_dt BETWEEN ADD_MONTHS(sysdate, -3) and  sysdate and LVL1_BR!='9900' and LVL1_BR!='9940' GROUP BY data_dt

    </select>


    <select id="getFinAssSumData" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
      select sum(a.Fnc_Ast_Bal) as balance,sum(a.Fnc_Ast_Bal_Cbm) as thanMonthBegin,sum(a.Fnc_Ast_Bal_Cby) as thanYearBegin
      from DLA_RPT_R_AST_SCL a where a.data_dt=(select max(data_dt) from DLA_RPT_R_AST_SCL where LVL1_BR = a.LVL1_BR) and a.LVL1_BR!='9900'


    </select>

    <!--===========================非存资产====================-->
    <select id="getNonDepIncTopFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
        select *from
        (select SUM(a.NON_DEP_AST_TD_INCR) as dataValue,a.LVL1_BR as bankCode
        from DLA_RPT_R_AST_SCL a
        where  a.data_dt=(select max(data_dt) from DLA_RPT_R_AST_SCL where LVL1_BR = a.LVL1_BR) and a.LVL1_BR!='9940' and a.LVL1_BR!='9900'
        GROUP BY a.LVL1_BR ORDER BY dataValue desc
        ) where rownum &lt;=5
    </select>

    <select id="getNonDepIncLastFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
        select *from
        (select SUM(a.NON_DEP_AST_TD_INCR) as dataValue,a.LVL1_BR as bankCode
        from DLA_RPT_R_AST_SCL a
        where  a.data_dt=(select max(data_dt) from DLA_RPT_R_AST_SCL where LVL1_BR = a.LVL1_BR) and a.LVL1_BR!='9940' and a.LVL1_BR!='9900'
        GROUP BY a.LVL1_BR ORDER BY dataValue asc
        ) where rownum &lt;=5
    </select>

    <select id="getNonDepBalTopFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
        select *from
        (select SUM(a.NON_DEP_AST_BAL) as dataValue,a.LVL1_BR as bankCode
        from DLA_RPT_R_AST_SCL a
        where  a.data_dt=(select max(data_dt) from DLA_RPT_R_AST_SCL where LVL1_BR = a.LVL1_BR) and a.LVL1_BR!='9940' and a.LVL1_BR!='9900'
        GROUP BY a.LVL1_BR ORDER BY dataValue desc
        ) where rownum &lt;=5
    </select>

    <select id="getNonDepBalLastFive" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
       select *from
        (select SUM(a.NON_DEP_AST_BAL) as dataValue,a.LVL1_BR as bankCode
        from DLA_RPT_R_AST_SCL a
        where  a.data_dt=(select max(data_dt) from DLA_RPT_R_AST_SCL where LVL1_BR = a.LVL1_BR) and a.LVL1_BR!='9940'  and a.LVL1_BR!='9900'
        GROUP BY a.LVL1_BR ORDER BY dataValue asc
        ) where rownum &lt;=5
    </select>

    <!--<select id="getNonDepThreeMonKline" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">-->
    <!--&#45;&#45; 	    select t1.data_dt as dataDate,t1.count as todaydata,t2.count as  yestdata from-->
    <!--&#45;&#45;         (select data_dt,sum(Non_Dep_Ast_Bal) count from DLA_RPT_R_AST_SCL where data_dt BETWEEN ADD_MONTHS(sysdate, -3) and  sysdate GROUP BY data_dt ) t2-->
    <!--&#45;&#45;          inner join-->
    <!--&#45;&#45;         (select data_dt,sum(Non_Dep_Ast_Bal) count from DLA_RPT_R_AST_SCL where data_dt BETWEEN ADD_MONTHS(sysdate, -3) and  sysdate GROUP BY data_dt ) t1 &#45;&#45;jintian-->
    <!--&#45;&#45;         on t1.data_dt = t2.data_dt+1  order BY t1.data_dt asc-->
    <select id="getNonDepThreeMonKline" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">


 select t1.data_dt as dataDate,t1.count as todaydata,t2.count as  yestdata from
        (select data_dt,sum(Non_Dep_Ast_Bal) count from DLA_RPT_R_AST_SCL where data_dt BETWEEN ADD_MONTHS(sysdate, -3) and  sysdate and LVL1_BR!='9900' and LVL1_BR!='9940' GROUP BY data_dt ) t2
         inner join
        (select data_dt,sum(Non_Dep_Ast_Bal) count from DLA_RPT_R_AST_SCL where data_dt BETWEEN ADD_MONTHS(sysdate, -3) and  sysdate and LVL1_BR!='9900' and LVL1_BR!='9940' GROUP BY data_dt ) t1 --jintian
        on t1.data_dt = t2.data_dt+1  order BY t1.data_dt asc
    </select>

    <select id="getNonDepThreeMonTrend" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
     select sum(Non_Dep_Ast_Y_Avg) as dataValue,
     data_dt as dataDate from DLA_RPT_R_AST_SCL
     where data_dt BETWEEN ADD_MONTHS(sysdate, -3) and  sysdate   and LVL1_BR!='9900'  and LVL1_BR!='9940'
     GROUP BY data_dt
    </select>

    <!--非存资产余额、比月初、比年初-->
    <select id="getNonDepSumData" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
      select sum(a.Non_Dep_Ast_Bal) as balance,
      sum(a.Non_Dep_Ast_Bal_Cbm) as thanMonthBegin,
      sum(a.Non_Dep_Ast_Bal_Cby) as thanYearBegin
      from DLA_RPT_R_AST_SCL a
      where a.data_dt=(select max(data_dt) from DLA_RPT_R_AST_SCL where LVL1_BR = a.LVL1_BR ) and a.LVL1_BR!='9900'  and a.LVL1_BR!='9940'

    </select>

    <select id="getdepInAndOut" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">

        select
        sum(BCP_INCOME+   BAK_FIN_IN  +TRI_AGENT_IN +TRI_AGENT_IN  +THIRD_DEP_IN+REMIT_IN+LOAN_IN+CASH_ACCESS_IN+
        INTEREST_IN+CREDIT_CARD_IN+ACCEPT_IN+RECEIPT_PAY_IN+FOR_EXCH_SALE_IN+SECUR_DEP_IN+ELSE_ADAP_IN)  as depIn,
        sum(BAK_FIN_OUT+TRI_AGENT_OUT+THIRD_DEP_OUT+REMIT_OUT+LOAN_OUT+CASH_ACCESS_OUT+INTEREST_OUT+CREDIT_CARD_OUT+RECEIPT_PAY_OUT+
        FOR_EXCH_SALE_OUT) as depOut,
        Lvl1_Br as bankCode
        from DLA_RPT_DEP_FUND_INCOME_PAY
        where date_dt=(select max(date_dt) from DLA_RPT_DEP_FUND_INCOME_PAY) and lvl1_br!='9900'  and LVL1_BR!='9940'
        GROUP by lvl1_br

    </select>


    <select id="getdepInc" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">

        SELECT v2.sum2-v1.sum1  as dataValue,v1.bankCode1 as bankCode from
        (select sum(a.dep_bal) as sum1,a.LVL1_BR as bankCode1 from DLA_RPT_R_DEP_LOAN_SCL a where a.data_dt=(select max(data_dt) from DLA_RPT_R_DEP_LOAN_SCL where LVL1_BR = a.LVL1_BR) and a.LVL1_BR!='9940' and a.LVL1_BR!='9900' GROUP BY a.LVL1_BR) v1,
        (select b.dep_bal as sum2,b.org as bankCode2 from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where b.dt=(select max(dt) from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL where org = b.org) and b.org!='9940') v2
        where v1.bankCode1 = v2.bankCode2  ORDER BY dataValue desc

    </select>


    <select id="getDepBal" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">

      select b.dep_bal as dataValue,b.org as bankCode from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where b.dt=(select max(dt) from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL where org = b.org)
        and b.org in('3200','3300','3400','3500','3600','3700','4300','4500','4800','5800','5900','6000','6100','6300','6400','6500','6600','6800','6900','7000','7100','7200','7300','7400','7500','7600','7700','7800','7900','8200','8300','8900','9100','9300','9400','9500','9800')
         ORDER BY dataValue desc
    </select>



    <select id="getLoanInc" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">

        SELECT v2.sum2-v1.sum1  as dataValue,v1.bankCode1 as bankCode from
        (select sum(a.loan_bal) as sum1,a.LVL1_BR as bankCode1 from DLA_RPT_R_DEP_LOAN_SCL a where a.data_dt=(select max(data_dt) from DLA_RPT_R_DEP_LOAN_SCL where LVL1_BR = a.LVL1_BR) and a.LVL1_BR!='9940' and a.LVL1_BR!='9900' GROUP BY a.LVL1_BR) v1,
        (select b.loan_bal as sum2,b.org as bankCode2 from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where b.dt=(select max(dt) from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL where org = b.org) and b.org!='9940') v2
        where v1.bankCode1 = v2.bankCode2  ORDER BY dataValue desc

    </select>

    <select id="getLoanBal" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
       select b.loan_bal as dataValue,b.org as bankCode from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b where b.dt=(select max(dt) from DLA_RPT_R_DEP_LOAN_SCL_RT_ANL where org = b.org)
        and b.org in('3200','3300','3400','3500','3600','3700','4300','4500','4800','5800','5900','6000','6100','6300','6400','6500','6600','6800','6900','7000','7100','7200','7300','7400','7500','7600','7700','7800','7900','8200','8300','8900','9100','9300','9400','9500','9800')
         ORDER BY dataValue desc

    </select>


<!--个人金融资产地图数据-->
    <select id="getFinAssBal" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
        select SUM(a.Fnc_Ast_Bal) as balance,a.LVL1_BR as bankCode,sum(a.Fnc_Ast_Bal_Cbm) as thanMonthBegin,sum(a.Fnc_Ast_Bal_Cby) as thanYearBegin
        from DLA_RPT_R_AST_SCL a
        where  a.data_dt=(select max(data_dt) from DLA_RPT_R_AST_SCL where LVL1_BR = a.LVL1_BR) and a.LVL1_BR!='9940'  and a.LVL1_BR!='9900'
         GROUP BY a.LVL1_BR
    </select>
<!--非存资产地图数据-->
    <select id="getNonDepBal" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
        select SUM(a.NON_DEP_AST_BAL) as balance,a.LVL1_BR as bankCode,sum(a.Non_Dep_Ast_Bal_Cbm) as thanMonthBegin,
      sum(a.Non_Dep_Ast_Bal_Cby) as thanYearBegin
        from DLA_RPT_R_AST_SCL a
        where  a.data_dt=(select max(data_dt) from DLA_RPT_R_AST_SCL where LVL1_BR = a.LVL1_BR) and a.LVL1_BR!='9940' and a.LVL1_BR!='9900'
         GROUP BY a.LVL1_BR

    </select>


    <!--获取数据库中T+1最大日期-->
    <select id="getMaxDate" resultType="java.util.Date">
        select max(data_dt) from DLA_RPT_R_AST_SCL
    </select>

    <!--获取个人贷款较年初较月初地图数据-->
    <!--<select id="getdepthanmap" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">-->

<!--select sum(a.Dep_Bal_Cbm) as thanMonthBegin,sum(a.Dep_Bal_Cby) as thanYearBegin,a.LVL1_BR as bankCode-->
      <!--from DLA_RPT_R_DEP_LOAN_SCL a where a.data_dt=(select max(data_dt) from DLA_RPT_R_DEP_LOAN_SCL where LVL1_BR = a.LVL1_BR) and a.LVL1_BR!='9940' and a.LVL1_BR!='9900' GROUP BY a.LVL1_BR-->
    <!--</select>-->
    <!--<select id="getloanthanmap" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">-->
<!--select sum(a.Loan_Bal_Cbm) as thanMonthBegin,sum(a.Loan_Bal_Cby) as thanYearBegin,a.LVL1_BR as bankCode-->
      <!--from DLA_RPT_R_DEP_LOAN_SCL a where a.data_dt=(select max(data_dt) from DLA_RPT_R_DEP_LOAN_SCL where LVL1_BR = a.LVL1_BR) and a.LVL1_BR!='9940' and a.LVL1_BR!='9900' GROUP BY a.LVL1_BR-->

    <!--</select>-->

    <select id="getdepthanmap" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">

SELECT
	v2.sum2 - v1.sum1 AS thanMonthBegin,
	v2.sum2 - v3.sum3 AS thanYearBegin,
	v1.bankCode1 AS bankCode
FROM
	(SELECT b.dep_bal AS sum2,b.org AS bankCode2 FROM  DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b   WHERE
	  b.dt = ( SELECT max( dt ) FROM DLA_RPT_R_DEP_LOAN_SCL_RT_ANL WHERE org = b.org ) AND b.org != '9940'
	) v2
	INNER JOIN
	( SELECT  sum( a.dep_bal ) AS sum1,  a.LVL1_BR AS bankCode1   FROM DLA_RPT_R_DEP_LOAN_SCL a  WHERE  a.data_dt = LAST_DAY( ADD_MONTHS ( ( SELECT max( data_dt ) FROM DLA_RPT_R_DEP_LOAN_SCL ),- 1 ) )
	AND a.LVL1_BR != '9940' AND a.LVL1_BR != '9900'   GROUP BY a.LVL1_BR   ) v1
	 ON v1.bankCode1 = v2.bankCode2
	INNER JOIN
	 (SELECT sum( c.dep_bal ) AS sum3,	c.LVL1_BR AS bankCode3 FROM	DLA_RPT_R_DEP_LOAN_SCL c WHERE	c.data_dt = to_date ( to_char ( ( SELECT max( data_dt ) FROM DLA_RPT_R_DEP_LOAN_SCL ), 'yyyy' ) - 1 || '1231', 'yyyy-mm-dd' )
	  AND c.LVL1_BR != '9940' 	AND c.LVL1_BR != '9900' GROUP BY	c.LVL1_BR ) v3
	  ON v2.bankCode2 = v3.bankCode3
  </select>
    <select id="getloanthanmap" resultType="com.spdb.nrpt.entity.report.Retail.RetailReport2PO">
SELECT
	v2.sum2 - v1.sum1 AS thanMonthBegin,
	v2.sum2 - v3.sum3 AS thanYearBegin,
	v1.bankCode1 AS bankCode
FROM
	(SELECT b.loan_bal AS sum2,b.org AS bankCode2 FROM  DLA_RPT_R_DEP_LOAN_SCL_RT_ANL b   WHERE
	  b.dt = ( SELECT max( dt ) FROM DLA_RPT_R_DEP_LOAN_SCL_RT_ANL WHERE org = b.org ) AND b.org != '9940'
	) v2
	INNER JOIN
	( SELECT  sum( a.loan_bal ) AS sum1,  a.LVL1_BR AS bankCode1   FROM DLA_RPT_R_DEP_LOAN_SCL a  WHERE  a.data_dt = LAST_DAY( ADD_MONTHS ( ( SELECT max( data_dt ) FROM DLA_RPT_R_DEP_LOAN_SCL ),- 1 ) )
	AND a.LVL1_BR != '9940' AND a.LVL1_BR != '9900'   GROUP BY a.LVL1_BR   ) v1
	 ON v1.bankCode1 = v2.bankCode2
	INNER JOIN
	 (SELECT sum( c.loan_bal ) AS sum3,	c.LVL1_BR AS bankCode3 FROM	DLA_RPT_R_DEP_LOAN_SCL c WHERE	c.data_dt = to_date ( to_char ( ( SELECT max( data_dt ) FROM DLA_RPT_R_DEP_LOAN_SCL ), 'yyyy' ) - 1 || '1231', 'yyyy-mm-dd' )
	  AND c.LVL1_BR != '9940' 	AND c.LVL1_BR != '9900' GROUP BY	c.LVL1_BR ) v3
	  ON v2.bankCode2 = v3.bankCode3
    </select>


</mapper>