<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
</head>
<body>
    <form name="myForm" enctype="multipart/form-data">
        <table>
            <tr><td><input type="file" name="file" id="file"/></td></tr>
            <tr><td><input type="button" value="上传" id="upload"/></td></tr>
        </table>
    </form>

    <script src="js/base/jquery.min.js"></script>
    <script>
       $('#upload').click(function () {
           var $this=$(this);
           $this.attr("disabled","disabled");
           var file = document.myForm.file.files[0];
           var fm = new FormData();
           fm.append('file',file);
           $.ajax({
               url:'NRPTFileUpload' ,
               type:'POST',
               data:fm,
               contentType:false,
               processData: false,
               success:function (res) {
                   console.log(res);
                   $this.removeAttr("disabled")
               }
           });
       })
    </script>
</body>
</html>