<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>addBankInfo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" th:href="@{/js/layui/css/layui.css}" media="all"/>
    <style>
    	.layui-form-label{
    		width:150px;
    	}
    </style>
</head>
<body>
<!-- th:action="@{/demo/addDemoInfo}" -->
    <form class="layui-form"  id="myform" method="post" lay-filter="myform">
		<input type="hidden" name="demo_pkid" id="demo_pkid"   autocomplete="off"  class="layui-input">
        <div class="layui-form-item">
            <label class="layui-form-label">申请部门</label>
            <div class="layui-input-inline">
                <input type="text" name="apply_deptid" id="apply_deptid"  lay-verify="required"  autocomplete="off"  class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">所属板块</label>
                <div class="layui-input-inline">
                	<input type="text" name="apply_plate" id="apply_plate" lay-verify="required"  autocomplete="off"  class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">板块负责人</label>
                <div class="layui-input-inline">
                    <input type="text" name="plate_manage_name"  id="plate_manage_name" lay-verify="required"  autocomplete="off"  class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">业务</label>
            <div class="layui-input-inline">
                <input type="text" name="business_name" id="business_name" lay-verify="required"  autocomplete="off"  class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">申请渠道</label>
            <div class="layui-input-inline">
            	<input type="text" name="apply_channel" id="apply_channel"  lay-verify="required" autocomplete="off"  class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">联系单编号</label>
                <div class="layui-input-inline">
                    <input type="text" name="contact_list_id" id="contact_list_id"  lay-verify="required" autocomplete="off"  class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">联系单名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="contact_list_name" id="contact_list_name"  autocomplete="off"  class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">报表名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="report_name" id="report_name"  autocomplete="off"  class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">需求类型</label>
            <div class="layui-input-inline">
            	<input type="text" name="requirement_type" id="requirement_type"  lay-verify="required" autocomplete="off"  class="layui-input">
            </div>

            <label class="layui-form-label">实现形式</label>
            <div class="layui-input-inline">
            	<input type="text" name="realization" id="realization"  lay-verify="required" autocomplete="off"  class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">处理人</label>
            <div class="layui-input-inline">
                <input type="text" name="handler_name" id="handler_name"  lay-verify="required" autocomplete="off"  class="layui-input">
            </div>
        </div>

		<div class="layui-form-item">
            <label class="layui-form-label">处理状态</label>
            <div class="layui-input-inline">
                <select name="handler_status" id="handler_status" lay-filter="handler_status" lay-verify="required">
                    <option value="">请选择处理状态</option>
                    <option value="评估中">评估中</option>
                    <option value="探查中">探查中</option>
                    <option value="探查数据测试中">探查数据测试中</option>
                    <option value="开发中">开发中</option>
                    <option value="测试中">测试中</option>
                    <option value="待投产">待投产</option>
                    <option value="已上线">已上线</option>
                    <option value="撤销">撤销</option>
                    <option value="暂缓">暂缓</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">投产路径</label>
            <div class="layui-input-inline">
                <input type="text" name="production_way" id="production_way" autocomplete="off"  class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">需求口径确认时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="demand_time" class="layui-input" id="demand_time" placeholder="yyyy-MM-dd">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">回复实施计划时间</label>
                <div class="layui-input-inline" id="impl_time">
                    <input type="text" name="implementation_p_time" class="layui-input" id="implementation_p_time" placeholder="yyyy-MM-dd">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">需求回复SLA</label>
                <div class="layui-input-inline">
                    <input type="text" name="demand_SLA" class="layui-input" id="demand_SLA">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">预计首次测试时间</label>
                <div class="layui-input-inline" id="est_id1">
                    <input type="text" name="est_fir_submit_time" class="layui-input" id="est_fir_submit_time" placeholder="yyyy-MM-dd">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">实际首次测试时间</label>
                <div class="layui-input-inline" id="fir_submit">
                    <input type="text" name="fir_submit_time" class="layui-input" id="fir_submit_time" placeholder="yyyy-MM-dd">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">预计开始探查时间</label>
                <div class="layui-input-inline" id="est_id2">
                    <input type="text" name="est_beg_time" class="layui-input" id="est_beg_time" placeholder="yyyy-MM-dd">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">实际开始探查时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="actual_beg_search_time" class="layui-input" id="actual_beg_search_time" placeholder="yyyy-MM-dd">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">数据探查SLA</label>
                <div class="layui-input-inline">
                    <input type="text" name="search_SLA" class="layui-input" id="search_SLA">
                </div>
            </div>
        </div>

 		<div class="layui-form-item">
	        <div class="layui-inline">
	            <label class="layui-form-label">灰色发布完成时间</label>
	            <div class="layui-input-inline" id="gray_finish">
	                <input type="text" name="gray_finish_time" class="layui-input" id="gray_finish_time" placeholder="yyyy-MM-dd">
	            </div>
	        </div>
	        <div class="layui-inline">
	            <label class="layui-form-label">灰色发布SLA</label>
	            <div class="layui-input-inline">
	                <input type="text" name="gray_SLA" class="layui-input" id="gray_SLA">
	            </div>
	        </div>
        </div>

		<div class="layui-form-item">
	        <div class="layui-inline">
	            <label class="layui-form-label">提供确认书/报告日期</label>
	            <div class="layui-input-inline">
	                <input type="text" name="implementation_time" class="layui-input" id="implementation_time" placeholder="yyyy-MM-dd">
	            </div>
	        </div>
	        <div class="layui-inline">
	            <label class="layui-form-label">投产交付日期</label>
	            <div class="layui-input-inline" id="deliver">
	                <input type="text" name="deliver_time" class="layui-input" id="deliver_time" placeholder="yyyy-MM-dd">
	            </div>
	        </div>
	        <div class="layui-inline">
	            <label class="layui-form-label">投产交付SLA</label>
	            <div class="layui-input-inline" >
	                <input type="text" name="deliver_SLA" class="layui-input" id="deliver_SLA">
	            </div>
	        </div>
        </div>
        

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="btn_submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>


    <script th:src="@{/js/layui/layui.js}"></script>
    <script th:src="@{/js/base/jquery.min.js}"></script>
    <script type="text/javascript" th:inline="javascript">
    
    	function getTime1(date){
    		let y = date.year;
    		let m = date.month;
    		m = m < 10 ? '0' + m : m;
    		let d = date.date;
    		d = d < 10 ? '0' + d : d;
    		let str = y+'/'+m+'/'+d;
    		return str;
    	}
    
    	//计算两个日期之间的工作日 排除周六周日
    	function getWorkDay(Date1,Date2){
    		let s = new Date(Date.parse(Date1));
    		let e = new Date(Date.parse(Date2));
    		let s_t_w = s.getDay();
    		let e_t_w = e.getDay();
    		let diffDay = (e-s)/(1000*60*60*24) + 1;
    		let diffWeekDay = diffDay - (s_t_w == 0 ? 1 : 0) - (s_t_w == 6 ? 2 : 0);
    		let weeks = Math.floor(diffWeekDay / 7);
    		let i = weeks*5+(e_t_w == 6?5:e_t_w) + (s_t_w >=1&&s_t_w<=5?(6-s_t_w):0);
    		let x = diffDay - weeks*2;
    		if(i<=x){
    			return Math.ceil(i);
    		}else{
    			if(e_t_w == 6){
    				x = Math.ceil(x-1);
    			}
    			return Math.ceil(x);
    		}
    	} 
    	
        let contextPath = [[${#request.getContextPath()}]];
		let obj = [[${#request.getAttribute('demoVO')}]]
        
		let demand_SLA_boolean = true;
        let search_SLA_boolean = true;
        let gray_SLA_boolean = true;
        let deliver_SLA_boolean = true;
		
		$('#demo_pkid').val(obj.demo_pkid);
		$('#apply_deptid').val(obj.apply_deptid);
		$('#apply_plate').val(obj.apply_plate);
		$('#plate_manage_name').val(obj.plate_manage_name);
		$('#business_name').val(obj.business_name);
		$('#apply_channel').val(obj.apply_channel);
		$('#contact_list_id').val(obj.contact_list_id);
		$('#contact_list_name').val(obj.contact_list_name);
		$('#report_name').val(obj.report_name);
		$('#requirement_type').val(obj.requirement_type);
		$('#realization').val(obj.realization);
		$('#handler_name').val(obj.handler_name);
		$('#handler_status').val(obj.handler_status);
		$('#production_way').val(obj.production_way);
		$('#demand_time').val(obj.demand_time);
		$('#implementation_p_time').val(obj.implementation_p_time);
		$('#demand_SLA').val(obj.demand_SLA);
		$('#est_fir_submit_time').val(obj.est_fir_submit_time);
		$('#fir_submit_time').val(obj.fir_submit_time);
		$('#est_beg_time').val(obj.est_beg_time);
		$('#actual_beg_search_time').val(obj.actual_beg_search_time);
		$('#search_SLA').val(obj.search_SLA);
		$('#gray_finish_time').val(obj.gray_finish_time);
		$('#gray_SLA').val(obj.gray_SLA);
		$('#implementation_time').val(obj.implementation_time);
		$('#deliver_time').val(obj.deliver_time);
		$('#deliver_SLA').val(obj.deliver_SLA);
        
        layui.use(['form','jquery','laydate'],function () {
            let form = layui.form;
            let $ = layui.jquery;
            let laydate = layui.laydate;

            form.render('select','myform');
            
            form.on('submit(myform)',function(){
            	if(demand_SLA_boolean && search_SLA_boolean && gray_SLA_boolean && deliver_SLA_boolean){
	            	$.post(contextPath+'/demo/editBankInfo',$('#myform').serialize(),function(data){
	            		if(data.msg == 'success'){
	            			parent.layer.close(parent.layer.getFrameIndex(window.name));
	            			parent.allMethod();
	            		}
	            	},'json');
	            	return false;
            	}else{
            		return false;
            	}
            	
            })

			let demand_time;
           	let implementation_p_time ;
           	let est_fir_submit_time ;
           	let fir_submit_time ;
           	let est_beg_time ;
           	let actual_beg_search_time ;
           	let gray_finish_time ;
           	let implementation_time ;
           	let deliver_time ;
           	
           	//渲染回复实施计划时间的方法
           	function implementation_p_time_fun(demand){
           		laydate.render({
                    elem: '#implementation_p_time' //回复实施计划时间
                    ,min: new Date(demand).getTime()
                    ,trigger:'click'
                    ,format:'yyyy/MM/dd'
                    ,type: 'date'
                    ,btns: ['now','confirm']
                    ,isInitValue: true
                    ,done: function(value,date,endDate){
                    	demand_SLA_boolean = true;
                    	implementation_p_time = getTime1(date);
                    	if(demand_time!=null && implementation_p_time.length!=0){
                    		let workday = getWorkDay(demand_time,implementation_p_time);
                    		if(workday>4){
                        		alert("需求回复SLA不能超过4个工作日");
                        		$('#demand_SLA').val(workday);
                        		demand_SLA_boolean = false;
                        	}else{
                    			$('#demand_SLA').val(workday);
                    			demand_SLA_boolean = true;
                        	}
                    	}else{
                    		$('#demand_SLA').val('');
                    		demand_SLA_boolean = true;
                    	}
                    }
                });
           	}
           	//需求口径确认时间
           	function demand_time_fun (){
           		laydate.render({
                    elem: '#demand_time' 
                    /* ,value: new Date() */
                    ,trigger:'click'
                    /* ,min: 0 */
                    ,format:'yyyy/MM/dd'
                    ,type: 'date'
                    ,btns: ['now','confirm']
                    ,isInitValue: true
                    ,done: function(value,date,endDate){
                    	demand_SLA_boolean = true;
                    	demand_time = getTime1(date);
                    	let real_demand = new Date(demand_time).getTime();
                    	let real_impl_time = new Date(implementation_p_time).getTime();
                    	if(implementation_p_time.length == 0){
                    		$('#implementation_p_time').remove();
                        	$('#impl_time').html('<input type="text" name="implementation_p_time" class="layui-input" id="implementation_p_time" placeholder="yyyy-MM-dd">');
                        	implementation_p_time_fun(demand_time);
                    		$('#demand_SLA').val('');
                    	}else if(real_demand>real_impl_time){
                    		alert("需求口径确认时间必须小于回复实施计划时间");
                    		$('#implementation_p_time').remove();
                        	$('#impl_time').html('<input type="text" name="implementation_p_time" class="layui-input" id="implementation_p_time" placeholder="yyyy-MM-dd">');
                        	implementation_p_time_fun(demand_time);
                    		$('#demand_SLA').val('');
                    	}else {
                    		if(demand_time != null && implementation_p_time.length != 0){
                    			let workday = getWorkDay(demand_time,implementation_p_time);
                    			if(workday>4){
                            		alert("需求回复SLA不能超过4个工作日");
                            		$('#demand_SLA').val(workday);
                            		demand_SLA_boolean = false;
                            	}else{
                        			$('#demand_SLA').val(workday);
                        			demand_SLA_boolean = true;
                            	}
                    		}else{
                    			$('#demand_SLA').val('');
                    			demand_SLA_boolean = true;
                    		}
                    	}
                    }
                });
           	}
           	//实际首次提交数据探查时间
           	function fir_submit_time_fun(actual_beg_search_time){
           		//$('#fir_submit_time').remove();
        		//$('#fir_submit').html('<input type="text" name="fir_submit_time" class="layui-input" id="fir_submit_time" placeholder="yyyy-MM-dd">');
           		
           		if(actual_beg_search_time!=null){
           			laydate.render({
                        elem: '#fir_submit_time' //实际首次提交时间
                        //,value: '2099-12-31'
                        ,min:new Date(actual_beg_search_time).getTime()
                        ,trigger:'click'
                        ,format:'yyyy/MM/dd'
                        ,type: 'date'
                        ,btns: ['now','confirm']
                        ,isInitValue: true
                        ,done:function(value,date,endDate){
                        	search_SLA_boolean = true;
                        	fir_submit_time = getTime1(date);
                        	if(actual_beg_search_time!=null && fir_submit_time.length!=0){
                        		let workday = getWorkDay(actual_beg_search_time,fir_submit_time);
                        		if(workday>8){
                        			alert('数据探查SLA不能超过8个工作日');
                        			$('#search_SLA').val(workday);
                        			search_SLA_boolean = false;
                        		}else{
                            		$('#search_SLA').val(workday);
                            		search_SLA_boolean = true;
                        		}
                        	}else{
                        		$('#search_SLA').val('');
                        		search_SLA_boolean = true;
                        	}
                        }
                    });
           		}else{
           			
               			laydate.render({
               				elem:'#fir_submit_time'
               				,trigger:'click'
               				,format:'yyyy/MM/dd'
               				,type:'date'
               				,btns: ['now','confirm']   
                        	,isInitValue: true
               			})
               			$('#gray_SLA').val('');
           		}
           		
           	}
           	//实际开始数据探查时间
           	function actual_beg_search_time_fun(){
           		laydate.render({
                    elem: '#actual_beg_search_time' //实际开始数据探查时间
                    //,value: '2099-12-31'
                    //,min:
                    ,trigger:'click'
                    ,format:'yyyy/MM/dd'
                    ,type: 'date'
                    ,btns: ['now','confirm']
                    ,isInitValue: true
                    ,done:function(value,date,endDate){
                    	search_SLA_boolean = true;
                    	actual_beg_search_time = getTime1(date);
                    	let real_beg_search = new Date(actual_beg_search_time).getTime();
                    	let real_fir_submit = new Date(fir_submit_time).getTime();
                    	
                    	let real_gray = new Date(gray_finish_time).getTime();
                    	
                    	$('#gray_finish_time').remove();
                		$('#gray_finish').html('<input type="text" name="gray_finish_time" class="layui-input" id="gray_finish_time" placeholder="yyyy-MM-dd">');
                		gray_finish_time_fun(actual_beg_search_time);
                		
                    	
                    	if(fir_submit_time.length == 0){
                    		$('#fir_submit_time').remove();
                        	$('#fir_submit').html('<input type="text" name="fir_submit_time" class="layui-input" id="fir_submit_time" placeholder="yyyy-MM-dd">');
                        	fir_submit_time_fun(actual_beg_search_time);
                    		$('#search_SLA').val('');
                    	}else if(real_beg_search>real_fir_submit){
                    		alert("实际开始数据探查时间要小于实际首次提交数据探查时间");
                    		$('#fir_submit_time').remove();
                        	$('#fir_submit').html('<input type="text" name="fir_submit_time" class="layui-input" id="fir_submit_time" placeholder="yyyy-MM-dd">');
                        	fir_submit_time_fun(actual_beg_search_time);
                    		$('#search_SLA').val('');
                    	}else {
                    		if(actual_beg_search_time != null && fir_submit_time.length != 0){
                    			let workday = getWorkDay(actual_beg_search_time,fir_submit_time);
                    			if(workday>8){
                        			alert('数据探查SLA不能超过8个工作日');
                        			$('#search_SLA').val(workday);
                        			search_SLA_boolean = false;
                        		}else{
                            		$('#search_SLA').val(workday);
                            		search_SLA_boolean = true;
                        		}
                    		}else{
                    			$('#search_SLA').val('');
                    			search_SLA_boolean = true;
                    		}
                    	}
                    }
                });
           	}
           	//灰色发布时间  一
           	/* function gray_finish_time_fun(actual_beg_search_time){
           		laydate.render({
                    elem: '#gray_finish_time' //灰色发布完成时间
                    ,value: actual_beg_search_time
                    ,min:new Date(actual_beg_search_time).getTime()
                    ,trigger:'click'
                    ,format:'yyyy/MM/dd'
                    ,type: 'date'
                    ,btns: ['now','confirm']
                    ,isInitValue: true
                    ,done:function(value,date,endDate){
                    	gray_SLA_boolean = true;
                    	gray_finish_time = getTime1(date);
                    	if(actual_beg_search_time!=null && gray_finish_time.length!=0){
                    		let workday = getWorkDay(actual_beg_search_time,gray_finish_time);
                    		if(workday>10){
                    			alert('灰色发布SLA不能超过10个工作日');
                    			$('#gray_SLA').val(workday);
                    			gray_SLA_boolean = false;
                    		}else{
                    			$('#gray_SLA').val(workday);
                    			gray_SLA_boolean = true;
                    		}
                    		
                    	}else{
                    		$('#gray_SLA').val('');
                    		gray_SLA_boolean = true;
                    	}
                    	
                    }
                });
           		if(actual_beg_search_time==null){
           			$('#gray_SLA').val('');
           			gray_SLA_boolean = true;
           		}else{
               		let workday1 = getWorkDay(actual_beg_search_time,actual_beg_search_time);
                	$('#gray_SLA').val(workday1);
                	gray_SLA_boolean = true;
           		}
           	} */
           	//灰色发布 二
           	function gray_finish_time_fun(actual_beg_search_time){
           		//$('#gray_finish_time').remove();
        		//$('#gray_finish').html('<input type="text" name="gray_finish_time" class="layui-input" id="gray_finish_time" placeholder="yyyy-MM-dd">');
           		if(actual_beg_search_time==null){
           			laydate.render({
           				elem:'#gray_finish_time'
           				,trigger:'click'
           				,format:'yyyy/MM/dd'
           				,type:'date'
           				,btns: ['now','confirm']   
                    	,isInitValue: true
           			})
           			$('#gray_SLA').val('');
           		}else{
           			laydate.render({
                        elem: '#gray_finish_time' //灰色发布完成时间
                        ,value: actual_beg_search_time
                        ,min:new Date(actual_beg_search_time).getTime()
                        ,trigger:'click'
                        ,format:'yyyy/MM/dd'
                        ,type: 'date'
                        ,btns: ['now','confirm']   
                        ,isInitValue: true
                        ,done:function(value,date,endDate){
                        	gray_SLA_boolean = true;
                        	gray_finish_time = getTime1(date);
                        	if(actual_beg_search_time!=null && gray_finish_time.length!=0){
                        		let workday = getWorkDay(actual_beg_search_time,gray_finish_time);
                        		if(workday>10){
                        			alert('灰色发布SLA不能超过10个工作日');
                        			$('#gray_SLA').val(workday);
                        			gray_SLA_boolean = false;
                        		}else{
                        			$('#gray_SLA').val(workday);
                        			gray_SLA_boolean = true;
                        		}
                        	}else{
                        		//$('#gray_SLA').val('');
                        		gray_SLA_boolean = true;
                        	}
                        	
                        }
                    });
               		let workday1 = getWorkDay(actual_beg_search_time,actual_beg_search_time);
                	$('#gray_SLA').val(workday1); 
                	gray_SLA_boolean = true;
           		}
           	}
            //提供上线确认书时间
            function implementation_time_fun(){
            	laydate.render({
                    elem: '#implementation_time' 
                    //,value: '2099-12-31'
                    //,min:
                    ,trigger:'click'
                    ,format:'yyyy/MM/dd'
                    ,type: 'date'
                    ,btns: ['now','confirm']
                    ,isInitValue: true
                    ,done:function(value,date,endDate){
                    	implementation_time = getTime1(date);
                    	$('#deliver_time').remove();
                    	$('#deliver').html('<input type="text" name="deliver_time" class="layui-input" id="deliver_time" placeholder="yyyy-MM-dd">');
                    	deliver_time_fun(implementation_time);
                    }
                });
            }
           	//投产交付日期
           	function deliver_time_fun(implementation_time){
           		laydate.render({
                    elem: '#deliver_time'     
                    ,value: implementation_time
                    ,min:new Date(implementation_time).getTime()
                    ,trigger:'click'
                    ,format:'yyyy/MM/dd'
                    ,type: 'date'
                    ,btns: ['now','confirm']
                    ,isInitValue: true
                    ,done:function(value,date,endDate){
                    	deliver_SLA_boolean = true;
                    	deliver_time = getTime1(date);
                    	if(implementation_time!=null && deliver_time.length!=0){
                    		let workday = getWorkDay(implementation_time,deliver_time);
                    		if(workday > 45){
                    			alert('投产交付SLA不能超过45天');
                    			$('#deliver_SLA').val(workday);
                    			deliver_SLA_boolean = false;
                    		}else{
                    			$('#deliver_SLA').val(workday);
                    			deliver_SLA_boolean = true;
                    		}
                    		
                    	}else{
                    		$('#deliver_SLA').val('');
                    		deliver_SLA_boolean = true;
                    	}
                    }
                });
           		if(implementation_time==null){
           			$('#deliver_SLA').val('');
           			deliver_SLA_boolean = true;
           		}else{
               		let workday1 = getWorkDay(implementation_time,implementation_time);
                	$('#deliver_SLA').val(workday1);
                	deliver_SLA_boolean = true;
           		}
           		
           	}
            
           	allTime();
           	
           	/* 各种时间展示 */
           	function allTime(){
           		demand_time = $('#demand_time').val();
        		implementation_p_time = $('#implementation_p_time').val();
        		est_fir_submit_time = $('#est_fir_submit_time').val();
        		fir_submit_time = $('#fir_submit_time').val();
        		est_beg_time = $('#est_beg_time').val();
        		actual_beg_search_time = $('#actual_beg_search_time').val();
        		gray_finish_time = $('#gray_finish_time').val();
        		implementation_time = $('#implementation_time').val();
        		deliver_time = $('#deliver_time').val();
        		
        		//时间初始赋值
                demand_time_fun(); //需求口径确认时间
                implementation_p_time_fun(demand_time); //回复实施计划时间
        		laydate.render({
                    elem: '#est_fir_submit_time' //预计首次测试时间
                    //,value: '2099/12/31'
                    //,min: 0
                    ,trigger:'click'
                    ,format:'yyyy/MM/dd'
                    ,type: 'date'
                    ,btns: ['now','confirm']
                    ,isInitValue: true
                });
        		laydate.render({
                    elem: '#est_beg_time' //预计开始数据探查时间
                    //,value: '2099/12/31'
                    //,min: 0
                    ,trigger:'click'
                    ,format:'yyyy/MM/dd'
                    ,type: 'date'
                    ,btns: ['now','confirm']
                    ,isInitValue: true
                });
                //fir_submit_time_fun(new Date());//实际首次提交时间
                fir_submit_time_fun();//实际首次提交时间
        		actual_beg_search_time_fun();//实际开始数据探查时间
        		//gray_finish_time_fun(actual_beg_search_time);//灰色发布完成时间
        		gray_finish_time_fun();//灰色发布完成时间
        		implementation_time_fun();//提供上线确认书时间
        		deliver_time_fun();//投产交付日期
        		
        		demand_time = $('#demand_time').val();
        		implementation_p_time = $('#implementation_p_time').val();
        		est_fir_submit_time = $('#est_fir_submit_time').val();
        		fir_submit_time = $('#fir_submit_time').val();
        		est_beg_time = $('#est_beg_time').val();
        		actual_beg_search_time = $('#actual_beg_search_time').val();
        		gray_finish_time = $('#gray_finish_time').val();
        		implementation_time = $('#implementation_time').val();
        		deliver_time = $('#deliver_time').val();
           	}
           	
           	form.on('select(handler_status)',function(data){
           		if('已上线' == data.value){
           			/* $('#est_fir_submit_time').remove();
                	$('#est_id1').html('<input type="text" name="est_fir_submit_time" class="layui-input" id="est_fir_submit_time" placeholder="yyyy-MM-dd">');
                	$('#est_beg_time').remove();
                	$('#est_id2').html('<input type="text" name="est_beg_time" class="layui-input" id="est_beg_time" placeholder="yyyy-MM-dd">'); */
                	//设置投产路径的非空约束 
            		$('#production_way').attr('lay-verify','required');
            		/* laydate.render({
                        elem: '#est_fir_submit_time' //预计首次测试时间
                        //,value: '2099/12/31'
                        //,min: 0
                        ,trigger:'click'
                        ,format:'yyyy/MM/dd'
                        ,type: 'date'
                        ,btns: ['now','confirm']
                        ,isInitValue: true
                    });
            		laydate.render({
                        elem: '#est_beg_time' //预计开始数据探查时间
                        //,value: '2099/12/31'
                        //,min: 0
                        ,trigger:'click'
                        ,format:'yyyy/MM/dd'
                        ,type: 'date'
                        ,isInitValue: true
                    }); */
           			
           		}else if('评估中' == data.value){
           			/* $('#est_fir_submit_time').remove();
                	$('#est_id1').html('<input type="text" name="est_fir_submit_time" class="layui-input" id="est_fir_submit_time" placeholder="yyyy-MM-dd">');
                	$('#est_beg_time').remove();
                	$('#est_id2').html('<input type="text" name="est_beg_time" class="layui-input" id="est_beg_time" placeholder="yyyy-MM-dd">'); */
           			//移除投产路径的非空约束 
            		$('#production_way').removeAttr('lay-verify');
            		/* laydate.render({
                        elem: '#est_fir_submit_time' //预计首次测试时间
                        ,value: '2099/12/31'
                        //,min: 0
                        ,trigger:'click'
                        ,format:'yyyy/MM/dd'
                        ,type: 'date'
                        ,btns: ['now','confirm']
                        ,isInitValue: true
                    });
            		laydate.render({
                        elem: '#est_beg_time' //预计开始数据探查时间
                        ,value: '2099/12/31'
                        //,min: 0
                        ,trigger:'click'
                        ,format:'yyyy/MM/dd'
                        ,type: 'date'
                        ,btns: ['now','confirm']
                        ,isInitValue: true
                    }); */
           		}else{
           			/* $('#est_fir_submit_time').remove();
                	$('#est_id1').html('<input type="text" name="est_fir_submit_time" class="layui-input" id="est_fir_submit_time" placeholder="yyyy-MM-dd">');
                	$('#est_beg_time').remove();
                	$('#est_id2').html('<input type="text" name="est_beg_time" class="layui-input" id="est_beg_time" placeholder="yyyy-MM-dd">'); */
           			//移除投产路径的非空约束 
            		$('#production_way').removeAttr('lay-verify');
            		/* laydate.render({
                        elem: '#est_fir_submit_time' //预计首次测试时间
                        //,value: '2099/12/31'
                        //,min: 0
                        ,trigger:'click'
                        ,format:'yyyy/MM/dd'
                        ,type: 'date'
                        ,btns: ['now','confirm']
                        ,isInitValue: true
                    });
            		laydate.render({
                        elem: '#est_beg_time' //预计开始数据探查时间
                        //,value: '2099/12/31'
                        //,min: 0
                        ,trigger:'click'
                        ,format:'yyyy/MM/dd'
                        ,type: 'date'
                        ,isInitValue: true
                    }); */
           		}
           	})
           	
            /* form.on('select(handler_status)',function(data){
            	demand_time = $('#demand_time').val();
        		implementation_p_time = $('#implementation_p_time').val();
        		est_fir_submit_time = $('#est_fir_submit_time').val();
        		fir_submit_time = $('#fir_submit_time').val();
        		est_beg_time = $('#est_beg_time').val();
        		actual_beg_search_time = $('#actual_beg_search_time').val();
        		gray_finish_time = $('#gray_finish_time').val();
        		implementation_time = $('#implementation_time').val();
        		deliver_time = $('#deliver_time').val();
            	
            	if('评估中' == data.value){
            		//移除投产路径的非空约束 
            		$('#production_way').removeAttr('lay-verify');
            		//时间初始赋值
                    demand_time_fun(); //需求口径确认时间
                    implementation_p_time_fun(demand_time); //回复实施计划时间
            		laydate.render({
                        elem: '#est_fir_submit_time' //预计首次测试时间
                        ,value: '2099/12/31'
                        ,min: 0
                        ,trigger:'click'
                        ,format:'yyyy/MM/dd'
                        ,type: 'date'
                        ,isInitValue: true
                    });
            		fir_submit_time_fun(new Date());//实际首次提交时间
            		laydate.render({
                        elem: '#est_beg_time' //预计开始数据探查时间
                        ,value: '2099/12/31'
                        ,min: 0
                        ,trigger:'click'
                        ,format:'yyyy/MM/dd'
                        ,type: 'date'
                        ,isInitValue: true
                    });
            		actual_beg_search_time_fun();//实际开始数据探查时间
            		gray_finish_time_fun(actual_beg_search_time);//灰色发布完成时间
            		implementation_time_fun();//提供上线确认书时间
            		deliver_time_fun();//投产交付日期
            		
            		demand_time = $('#demand_time').val();
            		implementation_p_time = $('#implementation_p_time').val();
            		est_fir_submit_time = $('#est_fir_submit_time').val();
            		fir_submit_time = $('#fir_submit_time').val();
            		est_beg_time = $('#est_beg_time').val();
            		actual_beg_search_time = $('#actual_beg_search_time').val();
            		gray_finish_time = $('#gray_finish_time').val();
            		implementation_time = $('#implementation_time').val();
            		deliver_time = $('#deliver_time').val();
            		
            	}else if('探查中' == data.value){
            		//移除投产路径的非空约束 
            		$('#production_way').removeAttr('lay-verify');
            		//时间初始赋值
                    demand_time_fun(); //需求口径确认时间
                    implementation_p_time_fun(demand_time); //回复实施计划时间
            		laydate.render({
                        elem: '#est_fir_submit_time' //预计首次测试时间
                        //,value: '2099/12/31'
                        //,min: 0
                        ,trigger:'click'
                        ,format:'yyyy/MM/dd'
                        ,type: 'date'
                        ,isInitValue: true
                    });
            		fir_submit_time_fun(new Date());//实际首次提交时间
            		laydate.render({
                        elem: '#est_beg_time' //预计开始数据探查时间
                        //,value: '2099/12/31'
                        //,min: 0
                        ,trigger:'click'
                        ,format:'yyyy/MM/dd'
                        ,type: 'date'
                        ,isInitValue: true
                    });
            		actual_beg_search_time_fun();//实际开始数据探查时间
            		gray_finish_time_fun(actual_beg_search_time);//灰色发布完成时间
            		implementation_time_fun();//提供上线确认书时间
            		deliver_time_fun();//投产交付日期
            		
            		demand_time = $('#demand_time').val();
            		implementation_p_time = $('#implementation_p_time').val();
            		est_fir_submit_time = $('#est_fir_submit_time').val();
            		fir_submit_time = $('#fir_submit_time').val();
            		est_beg_time = $('#est_beg_time').val();
            		actual_beg_search_time = $('#actual_beg_search_time').val();
            		gray_finish_time = $('#gray_finish_time').val();
            		implementation_time = $('#implementation_time').val();
            		deliver_time = $('#deliver_time').val();
            	}else if('探查数据测试中' == data.value){
            		//移除投产路径的非空约束 
            		$('#production_way').removeAttr('lay-verify');
            		//时间初始赋值
                    demand_time_fun(); //需求口径确认时间
                    implementation_p_time_fun(demand_time); //回复实施计划时间
            		laydate.render({
                        elem: '#est_fir_submit_time' //预计首次测试时间
                        //,value: '2099/12/31'
                        //,min: 0
                        ,trigger:'click'
                        ,format:'yyyy/MM/dd'
                        ,type: 'date'
                        ,isInitValue: true
                    });
            		fir_submit_time_fun(new Date());//实际首次提交时间
            		laydate.render({
                        elem: '#est_beg_time' //预计开始数据探查时间
                        //,value: '2099/12/31'
                        //,min: 0
                        ,trigger:'click'
                        ,format:'yyyy/MM/dd'
                        ,type: 'date'
                        ,isInitValue: true
                    });
            		actual_beg_search_time_fun();//实际开始数据探查时间
            		gray_finish_time_fun(actual_beg_search_time);//灰色发布完成时间
            		implementation_time_fun();//提供上线确认书时间
            		deliver_time_fun();//投产交付日期
            		
            		demand_time = $('#demand_time').val();
            		implementation_p_time = $('#implementation_p_time').val();
            		est_fir_submit_time = $('#est_fir_submit_time').val();
            		fir_submit_time = $('#fir_submit_time').val();
            		est_beg_time = $('#est_beg_time').val();
            		actual_beg_search_time = $('#actual_beg_search_time').val();
            		gray_finish_time = $('#gray_finish_time').val();
            		implementation_time = $('#implementation_time').val();
            		deliver_time = $('#deliver_time').val();
            	}else if('开发中' == data.value){
            		//移除投产路径的非空约束 
            		$('#production_way').removeAttr('lay-verify');
            		//时间初始赋值
                    demand_time_fun(); //需求口径确认时间
                    implementation_p_time_fun(demand_time); //回复实施计划时间
            		laydate.render({
                        elem: '#est_fir_submit_time' //预计首次测试时间
                        //,value: '2099/12/31'
                        //,min: 0
                        ,trigger:'click'
                        ,format:'yyyy/MM/dd'
                        ,type: 'date'
                        ,isInitValue: true
                    });
            		fir_submit_time_fun(new Date());//实际首次提交时间
            		laydate.render({
                        elem: '#est_beg_time' //预计开始数据探查时间
                        //,value: '2099/12/31'
                        //,min: 0
                        ,trigger:'click'
                        ,format:'yyyy/MM/dd'
                        ,type: 'date'
                        ,isInitValue: true
                    });
            		actual_beg_search_time_fun();//实际开始数据探查时间
            		gray_finish_time_fun(actual_beg_search_time);//灰色发布完成时间
            		implementation_time_fun();//提供上线确认书时间
            		deliver_time_fun();//投产交付日期
            		
            		demand_time = $('#demand_time').val();
            		implementation_p_time = $('#implementation_p_time').val();
            		est_fir_submit_time = $('#est_fir_submit_time').val();
            		fir_submit_time = $('#fir_submit_time').val();
            		est_beg_time = $('#est_beg_time').val();
            		actual_beg_search_time = $('#actual_beg_search_time').val();
            		gray_finish_time = $('#gray_finish_time').val();
            		implementation_time = $('#implementation_time').val();
            		deliver_time = $('#deliver_time').val();
            	}else if('测试中' == data.value){
            		//移除投产路径的非空约束 
            		$('#production_way').removeAttr('lay-verify');
            		//时间初始赋值
                    demand_time_fun(); //需求口径确认时间
                    implementation_p_time_fun(demand_time); //回复实施计划时间
            		laydate.render({
                        elem: '#est_fir_submit_time' //预计首次测试时间
                        //,value: '2099/12/31'
                        //,min: 0
                        ,trigger:'click'
                        ,format:'yyyy/MM/dd'
                        ,type: 'date'
                        ,isInitValue: true
                    });
            		fir_submit_time_fun(new Date());//实际首次提交时间
            		laydate.render({
                        elem: '#est_beg_time' //预计开始数据探查时间
                        //,value: '2099/12/31'
                        //,min: 0
                        ,trigger:'click'
                        ,format:'yyyy/MM/dd'
                        ,type: 'date'
                        ,isInitValue: true
                    });
            		actual_beg_search_time_fun();//实际开始数据探查时间
            		gray_finish_time_fun(actual_beg_search_time);//灰色发布完成时间
            		implementation_time_fun();//提供上线确认书时间
            		deliver_time_fun();//投产交付日期
            		
            		demand_time = $('#demand_time').val();
            		implementation_p_time = $('#implementation_p_time').val();
            		est_fir_submit_time = $('#est_fir_submit_time').val();
            		fir_submit_time = $('#fir_submit_time').val();
            		est_beg_time = $('#est_beg_time').val();
            		actual_beg_search_time = $('#actual_beg_search_time').val();
            		gray_finish_time = $('#gray_finish_time').val();
            		implementation_time = $('#implementation_time').val();
            		deliver_time = $('#deliver_time').val();
            	}else if('待投产' == data.value){
            		//移除投产路径的非空约束 
            		$('#production_way').removeAttr('lay-verify');
            		//时间初始赋值
                    demand_time_fun(); //需求口径确认时间
                    implementation_p_time_fun(demand_time); //回复实施计划时间
            		laydate.render({
                        elem: '#est_fir_submit_time' //预计首次测试时间
                        //,value: '2099/12/31'
                        //,min: 0
                        ,trigger:'click'
                        ,format:'yyyy/MM/dd'
                        ,type: 'date'
                        ,isInitValue: true
                    });
            		fir_submit_time_fun(new Date());//实际首次提交时间
            		laydate.render({
                        elem: '#est_beg_time' //预计开始数据探查时间
                        //,value: '2099/12/31'
                        //,min: 0
                        ,trigger:'click'
                        ,format:'yyyy/MM/dd'
                        ,type: 'date'
                        ,isInitValue: true
                    });
            		actual_beg_search_time_fun();//实际开始数据探查时间
            		gray_finish_time_fun(actual_beg_search_time);//灰色发布完成时间
            		implementation_time_fun();//提供上线确认书时间
            		deliver_time_fun();//投产交付日期
            		
            		demand_time = $('#demand_time').val();
            		implementation_p_time = $('#implementation_p_time').val();
            		est_fir_submit_time = $('#est_fir_submit_time').val();
            		fir_submit_time = $('#fir_submit_time').val();
            		est_beg_time = $('#est_beg_time').val();
            		actual_beg_search_time = $('#actual_beg_search_time').val();
            		gray_finish_time = $('#gray_finish_time').val();
            		implementation_time = $('#implementation_time').val();
            		deliver_time = $('#deliver_time').val();
            	}else if('已上线' == data.value){
            		//设置投产路径的非空约束 
            		$('#production_way').attr('lay-verify','required');
            		//时间初始赋值
                    demand_time_fun(); //需求口径确认时间
                    implementation_p_time_fun(demand_time); //回复实施计划时间
            		laydate.render({
                        elem: '#est_fir_submit_time' //预计首次测试时间
                        //,value: '2099/12/31'
                        //,min: 0
                        ,trigger:'click'
                        ,format:'yyyy/MM/dd'
                        ,type: 'date'
                        ,isInitValue: true
                    });
            		fir_submit_time_fun(new Date());//实际首次提交时间
            		laydate.render({
                        elem: '#est_beg_time' //预计开始数据探查时间
                        //,value: '2099/12/31'
                        //,min: 0
                        ,trigger:'click'
                        ,format:'yyyy/MM/dd'
                        ,type: 'date'
                        ,isInitValue: true
                    });
            		actual_beg_search_time_fun();//实际开始数据探查时间
            		gray_finish_time_fun(actual_beg_search_time);//灰色发布完成时间
            		implementation_time_fun();//提供上线确认书时间
            		deliver_time_fun();//投产交付日期
            		
            		demand_time = $('#demand_time').val();
            		implementation_p_time = $('#implementation_p_time').val();
            		est_fir_submit_time = $('#est_fir_submit_time').val();
            		fir_submit_time = $('#fir_submit_time').val();
            		est_beg_time = $('#est_beg_time').val();
            		actual_beg_search_time = $('#actual_beg_search_time').val();
            		gray_finish_time = $('#gray_finish_time').val();
            		implementation_time = $('#implementation_time').val();
            		deliver_time = $('#deliver_time').val();
            	}
       
            }) */

        })


    </script>
</body>
</html>